@using HoiNongDan.Resources
@using HoiNongDan.Models.Entitys;
@model MenuVM
@{
    String action = Model.MenuId == null ? LanguageResource.Create : LanguageResource.Edit;
    ViewBag.Title = action + LanguageResource.Menu.ToLower();
    string CurrentController = ConstController.Menu;
    string CurrentArea = ConstArea.Permission;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}

<!-- CONTAINER -->
<div class="main-container container-fluid">

    <!-- PAGE-HEADER -->
    <div class="page-header page-header-fix">
        <div class="fs-16">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a class="fs-18 fw-600" asp-area="@ConstArea.Permission" asp-controller="@ConstController.Menu" asp-action="Index">@LanguageResource.Menu</a>
                </li>
                <li class="breadcrumb-item fs-18 active" aria-current="page">@action</li>
            </ol>
        </div>
        <div>
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
            @HtmlExtensions.BackButton(CurrentArea,CurrentController)
        </div>
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <div class="row ">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary br-te-3 br-ts-3">
                    <h3 class="card-title text-white">Thông tin chi tiết</h3>
                    <div class="card-options ">
                       <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>                   
                    </div>
                 </div>
                <div class="card-body">
                    <form method="post" asp-action="Upsert" id="frmUpsert" class="row g-3">
                        <input asp-for="MenuId" hidden />
                        <div class="row">
                            <div class="col-md-3">
                                <label asp-for="MenuCode"></label>
                                @if (Model.MenuId != null)
                                {
                                    <input asp-for="MenuCode" class="form-control" readonly />
                                }
                                else
                                {
                                    <input asp-for="MenuCode" class="form-control" />
                                }
                                <span asp-validation-for="MenuCode" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="MenuName"></label>
                                <input asp-for="MenuName" class="form-control" new {type="password" } />
                                <span asp-validation-for="MenuName" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="Icon"></label>
                                <input asp-for="Icon" class="form-control" />
                                <span asp-validation-for="Icon" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="MenuIdParent"></label>
                                @Html.DropDownList("MenuIdParent", null, LanguageResource.Dropdownlist_Menu, new { @class = "form-control" })
                                <span asp-validation-for="MenuIdParent" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Href"></label>
                                @if (Model.MenuId != null)
                                {
                                    <input asp-for="Href" class="form-control" readonly />
                                }
                                else
                                {
                                    <input asp-for="Href" class="form-control" />
                                }
                                <span asp-validation-for="Href" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <label asp-for="MenuType"></label>
                                <select asp-for="MenuType" class="form-control" asp-items="@Html.GetEnumSelectList<MenuType>()">
                                    <option> --Select type--</option>
                                </select>
                                <span asp-validation-for="MenuType" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <label asp-for="OrderIndex"></label>
                                <input asp-for="OrderIndex" class="form-control" />
                                <span asp-validation-for="OrderIndex" class="text-danger"></span>
                            </div>

                            @if (@Model.MenuId != null)
                            {
                                <div class="col-2 d-flex align-items-end">
                                    <fieldset>
                                        @Html.RadioButtonFor(p=>p.Actived,true) @LanguageResource.Actived_True
                                        @Html.RadioButtonFor(p=>p.Actived,false) @LanguageResource.Actived_False
                                    </fieldset>
                                </div>
                            }
                            <div class="col-2 d-flex align-items-end">
                                <fieldset>
                                    @Html.RadioButtonFor(p=>p.MenuShow,true) Hiện menu
                                    @Html.RadioButtonFor(p=>p.MenuShow,false) Ẩn menu
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Quyền</label>
                                    <div class="selectgroup selectgroup-pills">
                                        @for (var i = 0; i < Model.FunctionList.Count; i++)
                                        {
                                            <input asp-for="@Model.FunctionList[i].FunctionId" hidden />
                                             <label class="selectgroup-item">
                                                <input asp-for="@Model.FunctionList[i].Selected" type="checkbox" id="@Model.FunctionList[i].FunctionId" class="selectgroup-input">
                                                <span class="selectgroup-button">@Model.FunctionList[i].FunctionName</span>
                                            </label>
                                           
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    }
    @section ScriptCustomized{
    <script type="text/javascript">
        $(document).ready(function () {
            HoiNongDan.UpsertInitial("@CurrentUrl");
        });
    </script>
}