@using HoiNongDan.Models
@using HoiNongDan.Constant
@model IEnumerable<ThucLucHoi>
<style>
    table th,
    table td {
        border: 1px solid #d9d9d9;
    }
</style>
<!-- CONTAINER -->
<div class="main-container container-fluid">

    <!-- PAGE-HEADER -->
    <div class="page-header d-flex my-1">
        <div class="">
            <span class="header-title">BÁO CÁO THỰC LỰC HỘI NĂM 2022</span>
            <div class="rectangle">
                <span> </span>
                <span> </span>
                <span> </span>
            </div>
        </div>
    </div>

   @*  <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Số Lượng Cán Bộ Theo Cơ Sở Và Theo Phân Hệ</h3>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="chartBar2" class="chart-dropshadow chartjs-render-monitor" height="275" style="display: block; width: 701px; height: 275px;" width="701"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- COL END -->
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Số Lượng Theo Phân Hệ</h3>
                </div>
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="chartDonut" class="h-275"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- COL END -->
    </div> *@
    <!-- /Row -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    @* <h3 class="card-title">BÁO CÁO THỰC LỰC HỘI NĂM 2022</h3> *@
                </div>
                <div class="card-body" >
                    <div class="table-responsive">
                        <table class="table border text-nowrap text-md-nowrap table-striped mb-0" id="file-datatable">
                            <thead>
                                <tr class="bor">
                                    <th rowspan="4" style="vertical-align : middle;text-align:center;">
                                        STT
                                    </th>
                                    <th rowspan="4" style="vertical-align : middle;text-align:center;">
                                        Tên đơn vị
                                    </th>
                                    <th rowspan="4" style="vertical-align : middle;text-align:center;">
                                        Tổng số ấp, khu phố
                                    </th>
                                    <th rowspan="4" style="vertical-align : middle;text-align:center;">
                                        Tổng số ấp, khu phố có tổ chức Hội

                                    </th>
                                    <th colspan="6" style="vertical-align : middle;text-align:center;">
                                        Tổng số
                                    </th>
                                    <th colspan="18" style="vertical-align : middle;text-align:center;">
                                        HỘI VIÊN
                                    </th>
                                </tr>
                                <tr>
                                    <th rowspan="3" style="vertical-align : middle;text-align:center;">
                                        Hộ nông nghiệp
                                    </th>
                                    <th rowspan="3" style="vertical-align : middle;text-align:center;">
                                        Trong đó; Giảm so với kỳ trước
                                    </th>
                                    <th rowspan="3" style="vertical-align : middle;text-align:center;">
                                        Hộ nông nghiệp có hội viên
                                    </th>
                                    <th rowspan="3" style="vertical-align : middle;text-align:center;">
                                        Trong đó Giảm so với kỳ trước
                                    </th>
                                    <th rowspan="3" style="vertical-align : middle;text-align:center;">
                                        Lao động nông nghiệp
                                    </th>
                                    <th rowspan="3" style="vertical-align : middle;text-align:center;">
                                        Trong đó; Giảm so với kỳ trước
                                    </th>
                                    <th rowspan="3" style="vertical-align : middle;text-align:center;">
                                        Tổng số
                                    </th>
                                    <th rowspan="3" style="vertical-align : middle;text-align:center;">
                                        Nữ
                                    </th>

                                    <th colspan="5" style="vertical-align : middle;text-align:center;">
                                        Địa bàn dân cư
                                    </th>
                                    <th colspan="5" style="vertical-align : middle;text-align:center;">
                                        Ngành nghề
                                    </th>
                                    <th colspan="2" style="vertical-align : middle;text-align:center;">
                                        HV danh dự
                                    </th>
                                    <th colspan="2" style="vertical-align : middle;text-align:center;">
                                        Giảm HV
                                    </th>
                                    <th colspan="2" style="vertical-align : middle;text-align:center;">
                                        Phát triển
                                    </th>

                                </tr>
                                 <tr>
                                    <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                        Phát triển trong kỳ
                                    </th>
                                    <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                        Giảm trong kỳ
                                    </th>
                                    <th colspan="3" style="vertical-align : middle;text-align:center;">
                                        Lũy kế
                                    </th>
                                    <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                        Phát triển trong kỳ
                                    </th>
                                    <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                        Giảm trong kỳ
                                    </th>
                                    <th colspan="3" style="vertical-align : middle;text-align:center;">
                                        Lũy kế
                                    </th>
                                    <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                        Trong năm
                                    </th>
                                    <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                        Lũy kế
                                    </th>
                                    <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                        Tổng số
                                    </th>
                                    <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                        Nữ
                                    </th>
                                    <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                        Tổng số
                                    </th>
                                    <th rowspan="2" style="vertical-align : middle;text-align:center;">
                                        Nữ
                                    </th>
                                </tr>
                                <tr>
                                    <th style="vertical-align : middle;text-align:center;">
                                        Lũy kế tăng
                                    </th>
                                    <th style="vertical-align : middle;text-align:center;">
                                        Lũy kế giảm
                                    </th>
                                    <th style="vertical-align : middle;text-align:center;">
                                        Lũy kế tăng
                                    </th>
                                    <th style="vertical-align : middle;text-align:center;">
                                        Lũy kế trong kỳ
                                    </th>
                                    <th style="vertical-align : middle;text-align:center;">
                                        Lũy kế tăng
                                    </th>
                                    <th style="vertical-align : middle;text-align:center;">
                                        Lũy kế giảm
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    i++;
                                    <tr>
                                        <td class="text-center">@i</td>
                                        <td>@item.TenDV</td>
                                        <td>@item.TongAp</td>
                                        <td>@item.TongKhuVuc</td>
                                        <td>@item.Tong_HNN</td>
                                        <td>@item.Tong_HNN_Giam</td>
                                        <td>@item.Tong_HNN_HV</td>
                                        <td>@item.Tong_HNN_HV_Giam</td>
                                        <td>@item.Tong_LD_NN</td>
                                        <td>@item.Tong_LD_NN_Giam</td>
                                        <td>@item.HV_TongSo</td>
                                        <td>@item.HV_Nu</td>
                                        <td>@item.HV_PhatTrien</td>
                                        <td>@item.HV_Giam</td>
                                        <td>@item.HV_LuyKe_Tang</td>
                                        <td>@item.HV_LuyKe_Giam</td>
                                        <td>@item.HV_LuyKe_TrongKy</td>
                                        <td>@item.HV_NN_PhatTrien</td>
                                        <td>@item.HV_NN_Giam</td>
                                        <td>@item.HV_NN_LuyKe_Tang</td>
                                        <td>@item.HV_NN_LuyKe_Giam</td>
                                        <td>@item.HV_NN_LuyKe_TrongKy</td>
                                        <td>@item.HV_DanhDu_Nam</td>
                                        <td>@item.HV_DanhDu_LuyKe</td>
                                        <td>@item.Giam_HV_TongSo</td>
                                        <td>@item.Giam_HV_Nu</td>
                                        <td>@item.HN_PhatTrien_Tong</td>
                                        <td>@item.HN_PhatTrien_Nu</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    </div>
                   
            </div>
        </div>
    </div>

</div>
<!-- CONTAINER CLOSED -->
<!-- CHARTJS JS -->
@section Scripts{

    <script src="~/assets/plugins/chart/Chart.bundle.js"></script>
    <script src="~/assets/plugins/charts-c3/d3.v5.min.js"></script>
    <script src="~/assets/plugins/charts-c3/c3-chart.js"></script>
    <script src="~/js/dashboard.js"></script>
    <script>
        $(function () {
            var table = $("#file-datatable").DataTable({
                autoFill: true,
                responsive: false,
                autoWidth: true,
                autoHeight: false,
                scrollCollapse: false,
                scrollX: true,
                scrollY: 200,
                iDisplayLength: 10,
                buttons: ['excel', 'pdf'],
                language: {
                    emptyTable: "Không có dữ liệu",
                    search: ""
                }
            });
            table.buttons().container()
                .appendTo('#data-list_wrapper .col-md-6:eq(0)');
        })
    </script>
 }