@model IEnumerable<CanBoDetailVM>
<table id="data-list" class="table table-bordered text-nowrap mb-0">
    <thead class="table-primary">
        <tr>
            @* <th></th>
            <th>Hình</th>
            <th>@Html.DisplayNameFor(p => p.MaCanBo)</th> *@
            <th class="text-center">@Html.DisplayNameFor(p => p.HoVaTen)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.TenChucVu)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.ChoOHienNay)</th>
            <th class="text-center">Chức vụ hiện nay</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.SoDienThoai)</th>

        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            int css = 0;
            string cssName = "";
        }
        @foreach (var item in Model)
        {
            i++;
            css++;
            if (css > 2)
            {
                css = 1;
            }
            cssName = "tr" + css.ToString();
            <tr class="@cssName">
                <td class="align-middle">@Html.DisplayFor(p => item.HoVaTen)</td>
                <td class="align-middle">@Html.DisplayFor(p => item.GhiChu)</td>
                <td class="align-middle">@Html.DisplayFor(p => item.ChoOHienNay)</td>
                <td class="align-middle">@Html.DisplayFor(p => item.NoiSinh)</td>
                <td class="align-middle">@Html.DisplayFor(p => item.SoDienThoai)</td>

            </tr>
        }
    </tbody>
</table>
