@using HoiNongDan.Constant
@using HoiNongDan.Resources
@using Microsoft.AspNetCore.Html
@model IEnumerable<CauLacBo_DoiNhom_MoHinh_HopTacXa_ToHopTacVM>
@{
    string CurrentController = ConstController.CauLacBo_DN_MH_HTX_THT;
    string CurrentArea = ConstArea.MasterData;
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;

}
<table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
    <thead class="table-primary">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.Ten)</th>
            <th>@Html.DisplayNameFor(p => p.Loai)</th>
            <th>@Html.DisplayNameFor(p => p.Actived)</th>
            <th>@Html.DisplayNameFor(p => p.OrderIndex)</th>
            <th>@Html.DisplayNameFor(p => p.Description)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string loai = "";
        }
        @foreach (var item in Model)
        {
            i++;
            if (!String.IsNullOrEmpty(item.Loai))
            {
                loai = item.Loai.Replace("01", "Câu lạc bộ").Replace("02", "Đội nhóm").Replace("03", "Mô hình")
                .Replace("04", "Hợp tác xã").Replace("05", "Tổ hợp tác");
            }
            <tr>
                <td class="text-center">@i</td>
                <td>@Html.DisplayFor(p => item.Ten)</td>
                <td>@loai</td>
                <td>@Html.DisplayFor(p => item.Actived)</td>
                <td>@Html.DisplayFor(p => item.OrderIndex)</td>
                <td>@Html.DisplayFor(p => item.Description)</td>
                <td class="text-center">
                    @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.ID!.Value,listRoles:listRoles)
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.Ten, item.ID!.Value,listRoles: listRoles)
                </td>
            </tr>
        }
    </tbody>
</table>