@model HVDangKyVM
<div class="row">
    <input asp-for="ID" hidden />
    @Html.AntiForgeryToken()
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="MaDiaBanHoiVien"></label><span class="text-red">*</span>
            <select asp-for="MaDiaBanHoiVien" asp-items="@ViewBag.MaDiaBanHoiVien" class="form-control select2-show-search form-select">
                <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
            </select>
            <span asp-validation-for="MaDiaBanHoiVien" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="MaChiHoi"></label><span class="text-red">*</span>
            <select asp-for="MaChiHoi" asp-items="@ViewBag.MaChiHoi" class="form-control select2-show-search form-select">
                <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
            </select>
            <span asp-validation-for="MaChiHoi" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="MaToHoi"></label><span class="text-red">*</span>
            <select asp-for="MaToHoi" asp-items="@ViewBag.MaToHoi" class="form-control select2-show-search form-select">
                <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
            </select>
            <span asp-validation-for="MaToHoi" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-1">
        <div class="form-group">
            <label asp-for="NgayDangKy"></label><span class="text-red">*</span>
            <input type="date" asp-for="NgayDangKy" class="form-control">
            <span asp-validation-for="NgayDangKy" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="HoVaTen"></label><span class="text-red">*</span>
            <input type="text" asp-for="HoVaTen" class="form-control">
            <span asp-validation-for="HoVaTen" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="NgaySinh"></label><span class="text-red">*</span>
            <small> Nhập định dạng dd/MM/yyyy</small>
            <input asp-for="NgaySinh" class="form-control">
            <span asp-validation-for="NgaySinh" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-1">
        <div class="form-group">
            <label asp-for="GioiTinh"></label><span class="text-red">*</span>
            <select asp-for="GioiTinh" class="form-control" asp-items="@Html.GetEnumSelectList<GioiTinh>()">
                <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
            </select>
            <span asp-validation-for="GioiTinh" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="SoCCCD"></label><span class="text-red">*</span>
            <div class="input-group">
                <input type="text" asp-for="SoCCCD" class="form-control">
                <button class="btn btn-primary" type="button" id="btn-ktsocccd">Kiểm tra</button>
            </div>
        </div>
        <span asp-validation-for="SoCCCD" class="text-danger"></span>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="NgayCapCCCD"></label><span class="text-red">*</span>
            <small> Nhập định dạng dd/MM/yyyy</small>
            <input asp-for="NgayCapCCCD" class="form-control">
            <span asp-validation-for="NgayCapCCCD" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="SoDienThoai"></label> 
            <input asp-for="SoDienThoai" class="form-control">
            <span asp-validation-for="SoDienThoai" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-1">
        <div class="form-group">
            <label asp-for="MaDanToc"></label><span class="text-red">*</span>
            <select asp-for="MaDanToc" asp-items="@ViewBag.MaDanToc" class="form-control select2-show-search form-select">
                <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
            </select>
            <span asp-validation-for="MaDanToc" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-1">
        <div class="form-group">
            <label asp-for="MaTonGiao"></label><span class="text-red">*</span>
            <select asp-for="MaTonGiao" asp-items="@ViewBag.MaTonGiao" class="form-control select2-show-search form-select">
                <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
            </select>
            <span asp-validation-for="MaTonGiao" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-1">
        <div class="form-group">
            <label asp-for="MaTrinhDoHocVan"></label><span class="text-red">*</span>
            <select asp-for="MaTrinhDoHocVan" asp-items="@ViewBag.MaTrinhDoHocVan" class="form-control select2-show-search form-select">
                <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
            </select>
            <span asp-validation-for="MaTrinhDoHocVan" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3">
        <label asp-for="MaTrinhDoChuyenMon"></label>
        <div class="input-group">
            <div class="col-5 p-0 m-0">
                <select asp-for="MaTrinhDoChuyenMon" asp-items="@ViewBag.MaTrinhDoChuyenMon" class="form-control select2-show-search form-select">
                    <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
                </select>
            </div>
            <div class="col-7 p-0 m-0">
                <input asp-for="ChuyenNganh" class="form-control" placeholder="Tên chuyên ngành" />
            </div>
        </div>
        <span asp-validation-for="MaTrinhDoChuyenMon" class="text-danger"></span>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="MaTrinhDoChinhTri"></label>
            <select asp-for="MaTrinhDoChinhTri" asp-items="@ViewBag.MaTrinhDoChinhTri" class="form-control select2-show-search form-select">
                <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
            </select>
            <span asp-validation-for="MaTrinhDoChinhTri" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="NgayvaoDangDuBi"></label>
            <input  asp-for="NgayvaoDangDuBi" class="form-control">
            <span asp-validation-for="NgayvaoDangDuBi" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="NgayVaoDangChinhThuc"></label>
            <input asp-for="NgayVaoDangChinhThuc" class="form-control">
            <span asp-validation-for="NgayVaoDangChinhThuc" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="NgayThamGiaCapUyDang"></label>
            <input asp-for="NgayThamGiaCapUyDang" class="form-control">
            <span asp-validation-for="NgayThamGiaCapUyDang" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="NgayThamGiaHDND"></label>
            <input asp-for="NgayThamGiaHDND" class="form-control">
            <span asp-validation-for="NgayThamGiaHDND" class="text-danger"></span>
        </div>
    </div>
    
    <div class="col-lg-2">
        <div class="form-group">
            <label asp-for="MaNgheNghiep"></label>
            <select asp-for="MaNgheNghiep" asp-items="@ViewBag.MaNgheNghiep" class="form-control select2-show-search form-select">
                <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
            </select>
            <span asp-validation-for="MaNgheNghiep" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label asp-for="VaiTro"></label>
            <div class="row">
                <div class="col-3 p-0 ">
                    <input type="radio" asp-for="VaiTro" value="1">
                    <span class="">Chủ hộ</span>
                </div>
                <div class="col-9 row p-0">
                    <div class="col-5 p-0 ">
                        <input type="radio" class="" asp-for="VaiTro" value="2">
                        <span class="">Quan hệ chủ hộ</span>
                    </div>
                    <div class="col-7 p-0 ">
                        <input asp-for="VaiTroKhac" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="VaiTro" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <label asp-for="MaGiaDinhThuocDien"></label>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6  p-0">
                    <select asp-for="MaGiaDinhThuocDien" asp-items="@ViewBag.MaGiaDinhThuocDien" class="form-control select2-show-search form-select">
                        <option disabled selected>@LanguageResource.Dropdownlist_Menu</option>
                    </select>
                </div>
                <div class="col-lg-6  p-0">
                    <input asp-for="GiaDinhThuocDienKhac" class="form-control" />
                </div>

            </div>
        </div>
        <span asp-validation-for="MaGiaDinhThuocDien" class="text-danger"></span>
    </div>
   
    <div class="col-lg-6">
        <label asp-for="HoKhauThuongTru"></label> <span class="text-red">*</span>
        <div class="input-group">
            <div class="col-4 p-0">  <input class="form-control" asp-for="HoKhauThuongTru" placeholder="Số nhà tên đường" /></div>
            <div class="col-4  p-0"> <input class="form-control" asp-for="HoKhauThuongTru_XaPhuong" placeholder="Xã/Phường" /></div>
            <div class="col-4  p-0"> <input class="form-control" asp-for="HoKhauThuongTru_QuanHuyen" placeholder="Quận/Huyện" /></div>
        </div>
        <span asp-validation-for="HoKhauThuongTru" class="text-danger"></span>
    </div>
    <div class="col-lg-6">
        <label>Nơi cư trú</label> <span class="text-red">*</span>
        <div class="input-group">
            <div class="col-4 p-0">  <input class="form-control" asp-for="ChoOHienNay" placeholder="Số nhà tên đường" /></div>
            <div class="col-4 p-0"> <input class="form-control" asp-for="ChoOHienNay_XaPhuong" placeholder="Xã/Phường" /></div>
            <div class="col-4 p-0"> <input class="form-control" asp-for="ChoOHienNay_QuanHuyen" placeholder="Quận/Huyện" /></div>
        </div>
        <span asp-validation-for="ChoOHienNay" class="text-danger"></span>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="Loai_DV_SX_ChN"></label>
            <input asp-for="Loai_DV_SX_ChN" class="form-control">
            <span asp-validation-for="Loai_DV_SX_ChN" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="DienTich_QuyMo"></label>
            <input asp-for="DienTich_QuyMo" class="form-control">
            <span asp-validation-for="DienTich_QuyMo" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="SoLuong"></label>
            <input asp-for="SoLuong" class="form-control">
            <span asp-validation-for="SoLuong" class="text-danger"></span>
        </div>
    </div>

   
    <div class="col-lg-3">
        <div class="form-group">
            <label asp-for="MaDoanTheChinhTri_HoiDoan"></label>
            <select asp-for="MaDoanTheChinhTri_HoiDoan" asp-items="@ViewBag.MaDoanTheChinhTri_HoiDoan" multiple class="form-control select2-show-search form-select">
            </select>
            <span asp-validation-for="MaDoanTheChinhTri_HoiDoan" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label asp-for="Id_CLB_DN_MH_HTX_THT"></label>
            <select asp-for="Id_CLB_DN_MH_HTX_THT" asp-items="@ViewBag.Id_CLB_DN_MH_HTX_THT" multiple class="form-control select2-show-search form-select">
            </select>
            <span asp-validation-for="Id_CLB_DN_MH_HTX_THT" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label class="form-label">Thông tin khác</label>
            <div class="row">
                <div class="col-4 p-1">
                    <input type="checkbox" class="custom-checked" asp-for="DangVien">
                    <span >@LanguageResource.DangVien</span>
                </div>
                <div class="col-4 p-1">
                    <input type="checkbox" class="custom-checked" asp-for="HoiVienDanCu">
                    <span >@LanguageResource.HoiVienDanCu</span>
                </div>
                <div class="col-4 p-1">
                    <input type="checkbox" class="custom-checked" asp-for="HoiVienNganhNghe">
                    <span >@LanguageResource.HoiVienNganhNghe</span>
                </div>
            </div>
        </div>
    </div>
</div>
