@using HoiNongDan.Models
@using HoiNongDan.Resources
@model HVDangKyVM
@{
    ViewBag.Title = LanguageResource.Create + LanguageResource.HVDangKy;
    string CurrentController = ConstController.HVDangKy;
    string CurrentArea = ConstArea.HoiVien;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
<style>
    #avtImg {
        vertical-align: middle;
        width: 140px;
        height: 140px;
        border-radius: 10px;
    }

    .border-top {
        border-top: 4px dotted blue;
    }
</style>
<!-- CONTAINER -->
<div class="main-container container-fluid">

    <!-- PAGE-HEADER -->
    <div class="page-header d-flex page-header-fix my-1">
        <div class="fs-20">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a class="fs-18 fw-600" asp-area="@ConstArea.HoiVien" asp-controller="@ConstController.HVDangKy" asp-action="Index">@LanguageResource.HVDangKy</a>
                </li>
                <li class="breadcrumb-item fs-18 active" aria-current="page">@LanguageResource.Create</li>
            </ol>
        </div>
        <div class="header-sticky">
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
            @HtmlExtensions.BackButton(CurrentArea,CurrentController)
        </div>
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary br-te-3 br-ts-3">
                    <h3 class="card-title text-white">Thông tin chi tiết</h3>
                    <div class="card-options ">
                        <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <!-- /Row -->
                    <form method="post" asp-action="Create" id="frmCreate">
                        @Html.Partial("_HVDangKy", Model)
                    </form>
                    <!-- /Row -->
                </div>
            </div>
        </div>
    </div>
    
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
@section ScriptCustomized{
   
    <script type="text/javascript">
        $(document).ready(function () {
            HoiNongDan.CreateInitial("@CurrentUrl");
        });
    </script>
}