@using HoiNongDan.Constant
@using HoiNongDan.Resources
@using Microsoft.AspNetCore.Html
@model IEnumerable<HoiVien_ToHoiNN_ChiHoiNNDetailVM>

@{
    string CurrentController = ConstController.HoiVien_ToHoiNN_ChiHoiNN;
    string CurrentArea = ConstArea.HoiVien;
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;
}
<table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
    <thead class="table-primary">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.HoVaTen)</th>
            <th>@Html.DisplayNameFor(p => p.MaCanBo)</th>
            <th>@Html.DisplayNameFor(p => p.SoCCCD)</th>
            <th>@Html.DisplayNameFor(p => p.TenChiHoi)</th>
            <th>@Html.DisplayNameFor(p => p.TenToHoi)</th>
            <th>@Html.DisplayNameFor(p => p.PhuongXa)</th>
            <th>@Html.DisplayNameFor(p => p.QuanHuyen)</th>
            <th>@Html.DisplayNameFor(p => p.GhiChu)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td class="text-center">@item.HoVaTen</td>
                <td >@item.MaCanBo</td>
                <td class="text-center">@item.SoCCCD</td>
                <td >@item.TenChiHoi</td>
                <td>@item.TenToHoi</td>
                <td>@item.PhuongXa</td>
                <td>@item.QuanHuyen</td>
                <td>@item.GhiChu</td>
                <td class="text-center">
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.TenToHoi!, item.ID, listRoles: listRoles)
                </td>
            </tr>
        }
    </tbody>
</table>
