
@{
    ViewBag.Title = LanguageResource.List + LanguageResource.BCHVMoi.ToLower();
    string CurrentController = ConstController.BCHVMoi;
    string CurrentArea = ConstArea.HoiVien;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
    string listRoles = User != null ? User.FindFirst("Roles").Value : "";
}
<!-- CONTAINER -->
<div class="main-container container-fluid">

    <!-- PAGE-HEADER -->
    <div class="page-header my-2">
        <div>
            <span class="header-title">@LanguageResource.List @LanguageResource.BCHVMoi.ToLower()</span>
            <div class="rectangle">
                <span> </span>
                <span> </span>
                <span> </span>
            </div>
        </div>
        <div class="d-flex px-2">
            @HtmlExtensions.ExportButton1(CurrentArea, CurrentController, listRoles: listRoles)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="splitter rounded-3">
                <div class="splitter-head">Tìm kiếm nâng cao</div>
                <div class="splitter-body">
                    <form method="get" id="frmSearch" asp-action="_Search">
                        <div class="row my-2">
                            <div class="col-md-3">
                                <labe>
                                    Quận/Huyện</label>
                                    @Html.DropDownList("MaQuanHuyen", null, LanguageResource.Dropdownlist_Menu, new { @class = "form-control select2-show-search form-select" })
                            </div>
                            <div class="col-md-3">
                                <label>Tên hội nông dân</label>
                                @Html.DropDownList("MaDiaBanHoatDong", null, LanguageResource.Dropdownlist_Menu, new { @class = "form-control select2-show-search form-select" })
                            </div>
                            <div class="col-md-2">
                                <label>Từ ngày</label>
                                <input type="date" name="TuNgay" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label>Đến ngày</label>
                                <input type="date" name="DenNgay" class="form-control">
                            </div>
                            <div class="col-2 d-flex align-items-end">
                                @HtmlExtensions.SearchButton()
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <div class="row ">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" id="divSearchResult">
                        <table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
                            <thead class="table-primary">
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">@LanguageResource.NumberIndex</th>
                                    <th rowspan="2" class="text-center" style="vertical-align: middle;">  Họ và tên</th>
                                    <th colspan="2" class="text-center" style="vertical-align: middle;">Ngày tháng năm sinh</th>
                                    <th colspan="2" class="text-center" style="vertical-align: middle;">CMND/CCCD</th>
                                    <th rowspan="2" class="text-center" style="vertical-align: middle;">Hộ khẩu thường trú</th>
                                    <th rowspan="2" class="text-center" style="vertical-align: middle;">Nơi ở hiện nay</th>
                                    <th rowspan="2" class="text-center" style="vertical-align: middle;">Số điện thoại</th>
                                    <th rowspan="2" class="text-center" style="vertical-align: middle;">Đảng viên</th>
                                    <th rowspan="2" class="text-center" style="vertical-align: middle;">Dân tộc</th>
                                    <th rowspan="2" class="text-center" style="vertical-align: middle;">Tôn giáo</th>
                                    <th rowspan="2" class="text-center" style="vertical-align: middle;">Trình độ học vấn</th>
                                    <th colspan="2" class="text-center" style="vertical-align: middle;">Trình độ</th>
                                    <th rowspan="2" class="text-center" style="vertical-align: middle;">Ngày tháng năm vào Hội</th>
                                    <th rowspan="2" class="text-center" style="vertical-align: middle;">Nghề nghiệp hiện nay</th>
                                    <th colspan="2" class="text-center" style="vertical-align: middle;">Hội viên</th>
                                    <th rowspan="2" class="text-center" style="vertical-align: middle;">Số thẻ</th>
                                    <th rowspan="2" class="text-center" style="vertical-align: middle;">Ngày cấp</th>
                                </tr>
                                <tr>
                                    <th class="text-center">Nam</th>
                                    <th class="text-center">Nữ</th>
                                    <th class="text-center">Số</th>
                                    <th class="text-center">Ngày cấp</th>
                                    <th class="text-center">
                                        Chuyên môn
                                    </th>
                                    <th class="text-center">
                                        Chính trị
                                    </th>
                                    <th class="text-center">
                                        Địa bàn dân cư
                                    </th>
                                    <th class="text-center">
                                        Ngành nghề
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Đang tải dữ liệu</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>
<!-- CONTAINER CLOSED -->
@section ScriptCustomized {
    <script>
        //load default and set event
        $(document).ready(function () {
            HoiNongDan.SearchInitial("@CurrentUrl");
        });
        $("select#MaQuanHuyen").change(function () {
            let maQuanHuyen = $(this).val();
            //console.log(maQuanHuyen);
            $("select#MaDiaBanHoatDong").empty();
            $.getJSON('/HoiVien/BaoCaoGiamHV/loadDiaBanHoatDong?maQuanHuyen=' + maQuanHuyen, function (data) {
                $("select#MaDiaBanHoatDong").append('<option>' + "--Vui lòng chọn danh mục--" + '</option>');
                $.each(data, function (i, item) {
                    /*console.log(item);*/
                    $("select#MaDiaBanHoatDong").append('<option value=' + item.maDiaBanHoatDong + '>' + item.name + '</option>');
                });
            });
        })
    </script>
}