@model IEnumerable<QuanHuyen>
<!DOCTYPE html>
<html lang="en"
<head>
    <title></title>
    <meta http-equiv="content-type" content="text-html; charset=utf-8" />

    <script type="text/javascript" src="~/charting/jscharting.js"></script>

    <script type="text/javascript" src="~/charting/types.js"></script>

    <link rel="stylesheet" type="text/css" href="~/charting/css/default.css" />
    <link rel="stylesheet" type="text/css" href="~/css/sodo.css" />
    <style>
        .department {

            max-width: 200px;
            padding: 5px;
            color: #424242;
            font-weight: normal;
        }
        .name{
            font-weight: bold;
        }

        .units {
            white-space: pre-wrap;
            width: 90px;
            max-height: 100px;
            color: #212121;
            font-weight: normal;
            text-align: center;
            font-size: 10px;
        }
            .units li {
                list-style-type: none;
                padding: 5px;
                margin: 4px 0;
                border-radius: 5px;
            }

            .units ul {
                padding: 0;
            }

            .units hr {
                border: none;
                background: white;
                width: 40px;
                height: 1px;
            }

        #brandingLogo{
            display:none;
        }

        .container-c{
            background-color:transparent !important;
            width: auto;
            height: 500px;
        }

        .container-2 {
            background-color: transparent !important;
            width: auto;
            height: 250px;
        }

        .pres{
            color:#136d38;
            font-size: 18px;
            margin-left:100px;
        }

        .pres1 {
            color: #136d38;
            font-size: 18px;
        }

        .lv1 {
            border-left: 1px solid #424242;
        }

        .lv2 {
            text-align: center;
        }

        @@media screen and (max-width: 800px){
            .container-c{
                width: 800px;
                opacity: 0.5;
            }

            .container-2 {
                width: 800px;
            }
            .pres{
                font-size:16px;
            }

            .pres1 {
                font-size: 16px;
            }
        }
    </style>
</head>
<body>
    <div class="main-container container-fluid" style="">
        <!-- PAGE-HEADER -->
        <div class="page-header page-header-fix my-2">
            <div>
                <a asp-controller="" asp-area="Home" asp-action="Index" style="padding-right: 20px; border-right: 1px solid #000;"><span class="header-title">Sơ Đồ Tổ Chức</span></a>
                @* <a asp-controller="" asp-area="@ConstArea.Dashboard" asp-action="Index" style="padding-left:20px; padding-right: 40px;"><span class="header-title">Bảng Thống Kê</span></a> *@
                <a asp-controller="Dashboard" asp-area="@ConstArea.HoiVien" asp-action="Index" style="padding-left:20px; padding-right: 40px;"><span class="header-title">Bảng Thống Kê</span></a>
                <div class="rectangle">
                    <span> </span>
                    <span> </span>
                    <span> </span>
                </div>
            </div>
            <div class="d-flex px-2">
            </div>
        </div>
        <div id="chartDiv" class="container-fluid"> </div>
       @*  <div id="chartQ" class="container-fluid"></div> *@
        <div class="container-fluid m-3" >
            <div class="row bg-white">
                <div class="sodo" style="display:grid">
                    <ul>
                        <li>
                            <a asp-controller="Dashboard" asp-area="@ConstArea.HoiVien" asp-action="Index"><span style="font-size:25px; font-weight:600 ">HỘI NÔNG DÂN TP.HCM</span></a>
                            <ul>
                                @foreach (var item in Model)
                                {
                                    <li>
                                                <a asp-controller="Dashboard" asp-area="@ConstArea.HoiVien" asp-action="Index" asp-route-maQuanHuyen="@item.MaQuanHuyen"><span>@item.TenQuanHuyen</span></a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
    </div>


    <script type="text/javascript">
        /*
        Organizational chart with HTML annotations.
        Learn how to:

        - Create complex organizational charts.
        */
        // JS

        var type = 'organizational';
        function getWidth(x) {
            if (x.matches) { // If media query matches
                //type = 'organizationalright';
                type = 'organizational';
            } else {
                type = 'organizational';
            }
        }

        var x = window.matchMedia("(max-width: 800px)")
        getWidth(x) // Call listener function at run time
        x.addListener(getWidth) // Attach listener function on state changes

        var config = {
            type: type,
            defaultPoint: {
                outline_width: 0,
                connectorLine: { width: 1, color: '#e0e0e0' },
                annotation: {
                    asHTML: true,
                    label_text:
                        '<div class="department" style="border-bottom:5px solid %color;"><b>%position</b>%name%units</div>',
                },
            },
            defaultSeries_mouseTracking_enabled: false,
            series: [
                {
                    points: [
                        {
                            name: '<b>CHỦ TỊCH HỘI NÔNG DÂN THÀNH PHỐ</b>',
                            id: 'dhr',
                            attributes: {
                                position: 'SƠ ĐỒ TỔ CHỨC HỆ THỐNG HỘI NÔNG DÂN THÀNH PHỐ HỒ CHÍ MINH<br>',
                                units: '',
                            },
                            label_style_fontSize: 18,
                            color: 'white',
                            annotation_label_text: '<div class="pres"><b>%position%name</b></div>'
                        },
                        {
                            name: '<b></b>',
                            id: 'lv1_1',
                            parent: 'dhr',
                            attributes: {
                                position: '',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#FFF',
                            annotation_label_text: '<div class="lv1"><b>%position%name</b></div>'
                        },
                        {
                            name: '',
                            id: 'rm1_',
                            parent: 'lv1_1',
                            attributes: {
                                position: 'BAN TỔ CHỨC - <br> KIỂM TRA',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm2_',
                            parent: 'lv1_1',
                            attributes: {
                                position: 'BAN TUYÊN GIÁO',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '<b>PHÓ CHỦ TỊCH THƯỜNG TRỰC <BR> HỘI NÔNG DÂN THÀNH PHỐ</b>',
                            id: 'rm',
                            parent: 'dhr',
                            attributes: {
                                position: '',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#fda296',
                            annotation_label_text: '<div><b>%position</br>%name</b></div>',
                        },
                        {
                            name: '',
                            id: 'rm_',
                            parent: 'rm1_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>TRƯỞNG BAN</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#90caf9',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm100_',
                            parent: 'rm_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>PHÓ BAN</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#90caf9',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm_1',
                            parent: 'rm2_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>TRƯỞNG BAN</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#aed581',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm_100',
                            parent: 'rm_1',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>PHÓ BAN</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#aed581',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm3_1',
                            parent: 'rm',
                            attributes: {
                                position: 'VĂN PHÒNG',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm3_1_1',
                            parent: 'rm3_1',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>CHÁNH VĂN PHÒNG</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#90caf9',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm3_1_2',
                            parent: 'rm3_1_1',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>PHÓ VĂN PHÒNG</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#90caf9',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm3_',
                            parent: 'rm',
                            attributes: {
                                position: 'BAN KINH TẾ - XÃ HỘI',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm3_11',
                            parent: 'rm3_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>TRƯỞNG BAN</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#90caf9',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm3_22',
                            parent: 'rm3_11',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>PHÓ BAN</ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#90caf9',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        
                        {
                            name: '<b>HỘI NÔNG DÂN TP</b>',
                            id: 't',
                            parent: 'dhr',
                            attributes: {
                                position: 'PHÓ CHỦ TỊCH',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#fda296',
                            annotation_label_text: '<div><b>%position</br>%name</b></div>',
                        },
                        {
                            name: '',
                            id: 'rm4_',
                            parent: 't',
                            attributes: {
                                position: 'TRUNG TÂM DẠY NGHỀ <BR> VÀ HỖ TRỢ NÔNG DÂN',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 't_',
                            parent: 'rm4_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>GIÁM ĐỐC</b></li></ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#80cbc4',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 't_11',
                            parent: 't_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>PHÓ GIÁM ĐỐC</b></li></ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#80cbc4',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 'rm5_',
                            parent: 't',
                            attributes: {
                                position: 'BAN ĐIỀU HÀNH <BR> QUỸ HỖ TRỢ NÔNG DÂN',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 't_90',
                            parent: 'rm5_',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>GIÁM ĐÓC</b></li></ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#136d38',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                        {
                            name: '',
                            id: 't_1',
                            parent: 't_90',
                            attributes: {
                                position: '',
                                units:
                                    '<ul><li><b>PHÓ GIÁM ĐỐC</b></li></ul>',
                            },
                            label_style_fontSize: 12,
                            color: '#136d38',
                            annotation_label_text: '<div class="units"><b>%position</b>%name%units</div>',
                        },
                    ],
                },
            ],
        };

        config.series[0].points.forEach(function (point) {
            //point.attributes.units = point.attributes.units.replace(/<li>/g, '<li style="background-color: %color; color:#FFF;">');
            point.attributes.units = point.attributes.units.replace(/<li>/g, '<li style="background-color: #136d38; color:#FFF;">');
        });

        var chart = JSC.chart('chartDiv', config);
    </script>

    <script type="text/javascript">
        /*
        Organizational chart with HTML annotations.
        Learn how to:

        - Create complex organizational charts.
        */
        // JS

        var type = 'organizational';
        function getWidth(x) {
            if (x.matches) { // If media query matches
                type = 'organizational';
            } else {
                type = 'organizational';
            }
        }

        var x = window.matchMedia("(max-width: 800px)")
        getWidth(x) // Call listener function at run time
        x.addListener(getWidth) // Attach listener function on state changes
        var config = {
            type: type,
            defaultPoint: {
                outline_width: 0,
                connectorLine: { width: 1, color: '#e0e0e0' },
                annotation: {
                    asHTML: true,
                    label_text:
                        '<div class="department" style="border-bottom:5px solid %color;"><b>%position</b>%name%units</div>',
                },
            },
            defaultSeries_mouseTracking_enabled: false,
            series: [
                {
                    points: [
                        {
                            name: '<b></b>',
                            id: 'dhr',
                            attributes: {
                                position: 'HỘI NÔNG DÂN TP.HCM<br>',
                                units: '',
                            },
                            label_style_fontSize: 18,
                            color: 'white',
                            annotation_label_text: '<div class="pres1"><b>%position%name</b></div>'
                        },
                        {
                            name: '',
                            id: 'rm1_',
                            parent: 'dhr',
                            attributes: {
                                position: 'HND HUYỆN <br> CỦ CHI',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },

                        {
                            name: '',
                            id: 'rm2_',
                            parent: 'dhr',
                            attributes: {
                                position: 'HND HUYỆN <br> BÌNH CHÁNH',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },                          
                        {
                            name: '',
                            id: 'rm3_',
                            parent: 'dhr',
                            attributes: {
                                position: 'HND HUYỆN <br> HÓC MÔN',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm4_',
                            parent: 'dhr',
                            attributes: {
                                position: 'HND HUYỆN <br> NHÀ BÈ',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm5_',
                            parent: 'dhr',
                            attributes: {
                                position: 'HND HUYỆN <br> CẦN GIỜ',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm6_',
                            parent: 'dhr',
                            attributes: {
                                position: 'HND TP <br> TĐỨC',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm7_',
                            parent: 'dhr',
                            attributes: {
                                position: 'HND <br> QUẬN 12',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm12_',
                            parent: 'dhr',
                            attributes: {
                                position: 'HND P.28 <br> Q.BÌNH THẠNH',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm8_',
                            parent: 'dhr',
                            attributes: {
                                position: 'HND P.Tân Tạo A <br> Q.BÌNH TÂN',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        },
                        {
                            name: '',
                            id: 'rm9_',
                            parent: 'dhr',
                            attributes: {
                                position: 'HND P.Bình Hưng Hòa B <br> Q.BÌNH TÂN',
                                units: '',
                            },
                            label_style_fontSize: 14,
                            color: '#136d38',
                        }
                    ],
                },
            ],
        };

        config.series[0].points.forEach(function (point) {
            //point.attributes.units = point.attributes.units.replace(/<li>/g, '<li style="background-color: %color; color:#FFF;">');
            point.attributes.units = point.attributes.units.replace(/<li>/g, '<li style="background-color: #136d38; color:#FFF;">');
        });

        // var chart = JSC.chart('chartQ', config);
    </script>
</body>
</html>
