@using HoiNongDan.Models
@using HoiNongDan.Resources

@model CanBoQHXPVM
@{
    ViewBag.Title = LanguageResource.Create + LanguageResource.CanBoHNDQHXP;
    string CurrentController = ConstController.CanBoQHXP;
    string CurrentArea = ConstArea.NhanSu;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
<!-- CONTAINER -->
<div class="main-container container-fluid">

    <!-- PAGE-HEADER -->
    <div class="page-header page-header-fix d-flex">
        <div class="fs-20">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a class="fs-18 fw-600" asp-area="@ConstArea.NhanSu" asp-controller="@ConstController.CanBoQHXP" asp-action="Index">@LanguageResource.CanBoQHXP</a>
                </li>
                <li class="breadcrumb-item fs-18 active" aria-current="page">@LanguageResource.Create</li>
            </ol>
        </div>
        <div class="">
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
            @HtmlExtensions.BackButton(CurrentArea,CurrentController)
        </div>
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <form method="post" asp-action="Create" id="frmCreate">
        @Html.Partial("_CanBoQHXP",Model)
    </form>
    <!-- /Row -->
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
@section ScriptCustomized{
    <script src="~/js/canbo.js"></script>
    <script src="~/js/diaban_hv_quanhuyen.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            HoiNongDan.CreateInitial("@CurrentUrl");
        });
    </script>
}