@model IEnumerable<HVDangKyDuyetDetailVM>
@{
    string CurrentController = ConstController.DuyetHoiVien;
    string CurrentArea = ConstArea.HoiVien;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;
    bool view = Function.GetPermission(listRoles, CurrentController+":"+ConstFunction.Import);
}
<table id="data-list" class="table table-bordered text-nowrap mb-0">
    <thead class="table-primary">
        <tr>
            <th rowspan="2"></th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">@LanguageResource.NumberIndex</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">  Họ và tên</th>
            <th colspan="2" class="text-center" style="vertical-align: middle;">Ngày tháng năm sinh</th>
            <th colspan="2" class="text-center" style="vertical-align: middle;">CMND/CCCD</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Số thẻ</th>
            <th colspan="2" class="text-center" style="vertical-align: middle;">Đơn Vị</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Số quyết định</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Ngày quyết định</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Hộ khẩu thường trú</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Nơi ở hiện nay</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Số điện thoại</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Đảng viên</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Dân tộc</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Tôn giáo</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Trình độ học vấn</th>
            <th colspan="2" class="text-center" style="vertical-align: middle;">Trình độ</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Nghề nghiệp hiện nay</th>
            <th colspan="2" class="text-center" style="vertical-align: middle;">Hội viên</th>
        </tr>
        <tr>
            <th class="text-center">Nam</th>
            <th class="text-center">Nữ</th>
            <th class="text-center">Số</th>
            <th class="text-center">Ngày cấp</th>
            <th class="text-center">Quận/Huyện</th>
            <th class="text-center">Tên Hội</th>
            <th class="text-center">
                Chuyên môn
            </th>
            <th class="text-center">
                Chính trị
            </th>
            <th class="text-center">
                Địa bàn dân cư
            </th>
            <th class="text-center">
                Ngành nghề
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            int css = 0;
            string cssName = "";
        }
        @foreach (var item in Model)
        {
            i++;
            css++;
            if (css > 4)
            {
                css = 1;
            }
            cssName = "tr" + css.ToString();
            <tr id="@item.ID" class="@cssName">
                <td>
                    @if (!item.TrangThai)
                    {
                        @if (!view)
                        {
                            <button type="button" class="btn btn-sm btn-primary bradius duyet-hoivien" data-bs-placement="top" data-id="@item.ID" data-bs-toggle="tooltip" title="Duyệt" data-bs-original-title="Duyệt">
                                <span class="fa fa-check"> </span>
                            </button>
                            <a class="btn btn-icon btn-sm btn-danger-light bradius btn-reject" data-bs-toggle="tooltip" data-id="@item.ID" data-item-name="@item.HoVaTen" id="btn-reject" title="Từ chối">
                                <i class="fa fa-close"></i>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-icon btn-sm btn-danger-light bradius btn-reject" data-bs-toggle="tooltip" data-id="@item.ID" data-item-name="@item.HoVaTen" id="btn-reject" title="Từ chối">
                                <i class="fa fa-close"></i>
                            </a>
                            <a class="btn btn-sm btn-info" asp-area="@CurrentArea" asp-controller="@CurrentController" asp-action="View" asp-route-id="@item.ID" data-bs-toggle="tooltip" data-id="@item.ID" data-item-name="@item.HoVaTen" id="btn-reject" title="Xem duyệt">
                                <i class="fa fa-eye"></i>
                            </a>
                        }
                    }
                    else
                    {
                        <p>Đã duyệt</p>
                    }
                </td>
                <td class="text-center">@item.STT</td>
                <td class="text-center">@item.HoVaTen</td>
                <td class="text-center">@item.Nam</td>
                <td class="text-center">@item.Nu</td>
                <td class="text-center">@item.SoCCCD</td>
                <td class="text-center">@item.NgayCapSoCCCD</td>
                <td class="text-center">@item.SoThe</td>
                <td class="text-center">@item.TenQuanHuyen</td>
                <td class="text-center">@item.TenHoi</td>
                <td class="text-center">@item.SoQuyetDinh</td>
                <td class="text-center">@item.NgayQuyetDinh</td>
                <td>@item.HoKhauThuongTru</td>
                <td>@item.NoiOHiennay</td>
                <td>@item.SoDienThoai</td>
                <td class="text-center">@item.DangVien</td>
                <td class="text-center">@item.DanToc</td>
                <td class="text-center">@item.TonGiao</td>
                <td class="text-center">@item.TrinhDoHocVan</td>
                <td class="text-center">@item.TrinhDoChuyenMon</td>
                <td class="text-center">@item.ChinhTri</td>
                <td class="text-center">@item.NgheNghiep</td>
                <td>@item.DiaBanDanCu</td>
                <td class="text-center">@item.NganhNghe</td>
            </tr>
        }
    </tbody>
</table>
<script>
    
</script>
