@model DuyetHoiVienSearchVM
@{
    ViewBag.Title = LanguageResource.List + LanguageResource.DuyetHoiVienMoi.ToLower();
    string CurrentController = ConstController.DuyetHoiVien;
    string CurrentArea = ConstArea.HoiVien;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
    string listRoles = User != null ? User.FindFirst("Roles").Value : "";

}
<div class="main-container container-fluid">
    <!-- PAGE-HEADER -->
    <div class="page-header my-2">

        <div>
            <span class="header-title">@LanguageResource.List @LanguageResource.DuyetHoiVienMoi.ToLower()</span>
            <div class="rectangle">
                <span> </span>
                <span> </span>
                <span> </span>
            </div>
        </div>
        <div class="d-flex px-2">
            <button type="button" id="duyet-hoivienall" class="btn btn-sm btn-primary" data-bs-placement="top" data-bs-toggle="tooltip" title="" data-bs-original-title="Duyệt">
                <span class="fa fa-check"> Duyệt tất cả</span>
            </button>
        </div>
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="splitter rounded-3">
                <div class="splitter-head">Thông tin tìm kiếm</div>
                <div class="splitter-body">
                    <form method="get" id="frmSearch" asp-action="_Search">
                        <div class="row my-2">
                            <div class="col-md-3">
                                <label asp-for="MaCanBo"></label>
                                <input class="form-control" asp-for="MaCanBo" />
                            </div>
                            <div class="col-md-3">
                                <label asp-for="HoVaTen"></label>
                                <input class="form-control" asp-for="HoVaTen" />
                            </div>


                            <div class="col-md-3">
                                <label asp-for="MaDiaBanHoatDong"></label>
                                @Html.DropDownList("MaDiaBanHoatDong", null, LanguageResource.Dropdownlist_Menu, new { @class = "form-control select2-show-search form-select" })
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-2">
                                @HtmlExtensions.SearchButton()
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card rounded-3">
                <div class="card-status bg-blue br-te-7 br-ts-7"></div>
                <div class="card-body">
                    <div class="table-responsive" id="divSearchResult"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->

</div>
@section ScriptCustomized {

    <script>
        //load default and set event
        $(document).ready(function () {
            HoiNongDan.SearchInitial("@CurrentUrl");
            HoiNongDan.DuyetHoiVienInitial("@CurrentUrl");
        });
    </script>
}
