@model HoiVienDuyetCapNhatVM
@using HoiNongDan.Constant
@{
    ViewBag.Title = LanguageResource.List + LanguageResource.DuyetHoiVienMoi.ToLower();
    string CurrentController = ConstController.DuyetHoiVien;
    string CurrentArea = ConstArea.HoiVien;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
    string listRoles = User != null ? User.FindFirst("Roles").Value : "";

    string dangvien = Model.DangVien == true ? "X" : ""; 
    string danCu = Model.HoiVienDanCu == true ? "X" : "";
    string nganhNghe = Model.HoiVienNganhNghe == true ? "X" : "";

}
<div class="main-container container-fluid mt-2">
    <div class="card">
        <div class="card-body">
            <div class="d-flex bg-gray-100">
                <div class="flex-shrink-0 mr-7">
                    <div class="avatar avatar-xxl brround" style="background:#282f53">
                        <span style="font-size:30px;text-align:center;text-overflow:clip">
                            @{
                                var ten = Model.HoVaTen.Trim().Split(' ');
                                string kh = ten[ten.Length - 1];
                                ViewContext.Writer.Write(kh);
                            }
                        </span>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
                                <div class="col-md-3 d-flex flex-wrap my-2">
                                    <div class="d-flex align-items-center flex-lg-fill" style="padding-left:10px">
                                        <a class="text-hover-primary fs-16 fw-600"> @Model.HoVaTen.ToUpper()</a>
                                    </div>
                                </div>
                                
                                
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="d-flex flex-wrap my-2">
                                        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                            <span style="margin-right:10px">
                                                <i class="fa fa-home fs-25 text-danger"></i>
                                            </span>
                                            <div class="d-flex flex-column">
                                                <span class="fs-12 fw-600">Địa bàn hội</span>
                                                <span class="fs-16 fw-bold">
                                                    @Model.TenDiaBanHoatDong
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                            <span style="margin-right:10px">
                                                <i class="fa fa-address-card-o fs-25 text-success"></i>
                                            </span>
                                            <div class="d-flex flex-column">
                                                <span class="fs-12 fw-600">Giớn tính</span>
                                                <span class="fs-16 fw-bold">
                                                    @Model.GioiTinh
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center flex-lg-fill my-1" tyle="margin-right:10px">
                                            <span style="margin-right:10px">
                                                <i class="fa fa-volume-control-phone fs-25 text-warning"></i>
                                            </span>
                                            <div class="d-flex flex-column">
                                                <span class="fs-12 fw-600">Điện thoại</span>
                                                <span class="fs-16 fw-bold">
                                                    @Model.SoDienThoai
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                            <span style="margin-right:10px">
                                                <i class="fa fa-graduation-cap fs-25 text-primary"></i>
                                            </span>
                                            <div class="d-flex flex-column">
                                                <span class="fs-12 fw-600">Trình độ hộc vấn</span>
                                                <span class="fs-16 fw-bold">
                                                    @Model.TrinhDoHocvan
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr style="background:red" />
            <div class="panel panel-primary">
                <div class="row bg-gray-100">
                    <ul style="display:grid; list-style-position: inside;list-style-type: disc;grid-template-columns: repeat(4, 1fr)">
                        <li>Ngày sinh: <b>@Model.NgaySinh</b></li>
                        <li>Số CCCD: <b>@Model.SoCCCD</b></li>
                        <li>Ngày cấp CCCD: <b>@Model.NgayCapCCCD</b></li>
                        <li>Dân tộc: <b>@Model.DanToc</b></li>
                        <li>Tôn giáo: <b>@Model.TonGiao</b></li>
                        <li>Nghề nghiệp: <b>@Model.NgheNghiepHienNay</b></li>
                        <li>Trình độ học vấn: <b>@Model.TrinhDoHocvan</b></li>
                        <li>Trình độ chuyên môn: <b>@Model.MaTrinhDoChuyenMon</b></li>
                        <li>Trình độ chính chị: <b>@Model.MaTrinhDoChuyenMon</b></li>
                        <li>Đảng viên: <b>@dangvien</b></li>
                        <li>Hội viên Địa bàn dân cư: <b>@danCu</b></li>
                        <li>Hội viên Ngành nghề: <b>@nganhNghe</b></li>
                        <li>Hộ khẩu thường trú: <b>@Model.HoKhauThuongTru</b></li>
                        <li>Nơi ở hiện nay: <b>@Model.ChoOHienNay</b></li>
                    </ul>

                </div>
            </div>
            <hr style="background:red" />
            <div class="row ">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-primary br-te-3 br-ts-3">
                            <h3 class="card-title text-white">Thông tin duyệt</h3>
                            <div class="card-options ">
                                <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                            </div>
                        </div>
                        <div class="card-body">
                           <div class="row">
                                <div class="col-9">
                                    <form action="/" method="post" id="frmUpsert">
                                        <div class="row">
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(it => it.ID)
                                            <div class="col-md-5">
                                                <label class="form-lable">Ngày và số quyết định</label>
                                                <input class="form-control" type="text" asp-for="SoQuyetDinh" />
                                                <span asp-validation-for="SoQuyetDinh" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-lable">Ngày vào hội</label>
                                                <input class="form-control" type="date" asp-for="NgayVaoHoi" />
                                                <span asp-validation-for="NgayVaoHoi" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-lable">Số thẻ</label>
                                                <input class="form-control" type="text" asp-for="SoTheHoiVien" />
                                                <span asp-validation-for="SoTheHoiVien" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-lable">Ngày cấp thẻ</label>
                                                <input class="form-control" type="date" asp-for="NgayCapThe" />
                                                <span asp-validation-for="NgayCapThe" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-2" style="display:flex;justify-content:start;align-items:end">
                                    <button type="button" class="btn btn-sm btn-primary me-1" id="btn-save" data-id="@Model.IDCanBo">
                                        <span class="fa fa-check"> Duyệt</span>
                                    </button>
                                    <button class="btn btn-sm btn-danger-light btn-reject me-1" data-bs-toggle="tooltip" data-id="@Model.IDCanBo" data-item-name="@Model.HoVaTen" id="btn-reject" title="Từ chối">
                                        <i class="fa fa-close"></i> Từ chối
                                    </button>
                                    <a type="button" class="btn btn-sm btn btn-warning" asp-action="Index" asp-area="HoiVien" asp-controller="DuyetHoiVien">
                                        <i class="bi bi-reply-all-fill text-white">Quay lại</i>
                                    </a>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
@section ScriptCustomized {

    <script>
        //load default and set event
        $(document).ready(function () {
            HoiNongDan.DuyetHoiVienInitial("@CurrentUrl");
            HoiNongDan.UpsertInitial("@CurrentUrl");
        });
    </script>
}
