@using HoiNongDan.Constant
@using HoiNongDan.Resources
@using Microsoft.AspNetCore.Html
@model IEnumerable<VayVonDetailVM>
@{
    string CurrentController = ConstController.HoTro;
    string CurrentArea = ConstArea.HoiVien;
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;
}
<table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
    <thead class="table-primary">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.MaHV)</th>
            <th>@Html.DisplayNameFor(p => p.TenHV)</th>
            <th>@Html.DisplayNameFor(p => p.NoiDung)</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string ngayTraCuoiCung;
        }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td>@item.MaHV</td>
                <td>@item.TenHV</td>
                <td>@item.NoiDung</td>
            </tr>
        }
    </tbody>
</table>
