@using HoiNongDan.Constant
@using HoiNongDan.Resources
@using Microsoft.AspNetCore.Html
@model IEnumerable<BCSLMau1>
@{
    string CurrentController = ConstController.BCSLMau1;
    string CurrentArea = ConstArea.HoiVien;
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;
    int stt = 0;
}
<table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
    <thead class="table-primary">
        <tr>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">@LanguageResource.NumberIndex</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Đơn Vị</th>
            <th class="text-center" style="vertical-align: middle;" colspan='2'>Số Lượng</th>
            <th class="text-center" style="vertical-align: middle;" colspan="3">Độ Tuổi</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Dân Tộc</th>
            <th class="text-center" style="vertical-align: middle;" colspan='2'>Chi Hội</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Đảng Viên</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Ưu Tú</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">HV Nồng Cốt</th>
        </tr>
        <tr>
            <th>
                Tổng
            </th>
            <th>
                Tổng nữ
            </th>
            <th>
                Nhỏ hơn 40
            </th>
            <th>
                Từ 40 đến dưới 60
            </th>
            <th>
                Từ 60
            </th>
            <th>
                Dân Cư
            </th>
            <th>
                Ngành Nghề
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            stt++;
            <tr>
                <td class="text-center">@stt</td>
                <td class="">@item.Ten</td>
                <td class="text-center">@item.TongSL</td>
                <td class="text-center">@item.TongNu</td>
                <td class="text-center">@item.DoTuoi40</td>
                <td class="text-center">@item.DoTuoi60</td>
                <td class="text-center">@item.DoTuoiTren60</td>
                <td class="text-center">@item.TongDanToc</td>
                <td class="text-center">@item.ChiHoiDanCu</td>
                <td class="text-center">@item.ChiHoiNganhNghe</td>
                <td class="text-center">@item.DangVien</td>
                <td class="text-center">@item.UuTu</td>
                <td class="text-center">@item.HVNongCot</td>
            </tr>
        }
       
    </tbody>
</table>
