@using Portal.Models.Entitys;
@model IEnumerable<Menu>
@{
    string CurrentController = ConstController.Menu;
    string CurrentArea = ConstArea.Permission;
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;
}
<table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
    <thead class="table-primary">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.MenuName)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.OrderIndex)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.Icon)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.Href)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.MenuType)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td>@Html.DisplayFor(p => item.MenuName)</td>
                <td class="text-center">@Html.DisplayFor(p => item.OrderIndex)</td>
                <td class="text-center">
                    <i class="@Html.DisplayFor(p => item.Icon)"></i>
                </td>
                <td class="text-center">@Html.DisplayFor(p => item.Href)</td>
                <td class="text-center">@Enum.GetName(typeof(MenuType), item.MenuType)</td>
                <td class="text-center">
                    @HtmlExtensions.UpsertButton(CurrentArea, CurrentController, item.MenuId!.Value,listRoles:listRoles)
                   @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.MenuName, item.MenuId!.Value,listRoles: listRoles)
                </td>
            </tr>
        }
    </tbody>
</table>
