@model BacLuongSearchVM
@{
    ViewBag.Title = LanguageResource.BacLuong.ToLower();
    string CurrentController = ConstController.BacLuong;
    string CurrentArea = ConstArea.MasterData;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);

}
<div class="main-container container-fluid">
    <!-- PAGE-HEADER -->
    <div class="page-header">
        <h1>@LanguageResource.List @LanguageResource.Menu.ToLower()</h1>
        <div>
            @HtmlExtensions.CreateButton(CurrentArea,CurrentController,action:"Create")
        </div>
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="splitter rounded-3">
                <div class="splitter-head">Thông tin tìm kiếm</div>
                <div class="splitter-body">
                    <form method="get" id="frmSearch" ,asp-action="_Search">
                        <div class="row my-2">
                            <div class="col-3">
                                <label asp-for="MaNgachLuong"></label>
                                @Html.DropDownList("MaNgachLuong", null, LanguageResource.Dropdownlist_Menu, new { @class = "form-control select2-show-search form-select" })
                            </div>
                            <div class="col-3">
                                <label asp-for="TenBacLuong"></label>
                                <input class="form-control" asp-for="TenBacLuong" />
                            </div>
                            
                            <div class="col-3">
                                <label asp-for="Actived"></label>
                                @Html.DropDownList("Actived", new List<SelectListItem>(){
                                new SelectListItem(){Text = LanguageResource.Dropdownlist_All, Value = ""},
                                new SelectListItem(){Text = LanguageResource.Actived_True, Value = "true", Selected = true},
                                new SelectListItem(){Text = LanguageResource.Actived_False, Value = "false"}
                                }, new { @class = "form-control" })
                            </div>
                            <div class="col-2 d-flex align-items-end">
                                @HtmlExtensions.SearchButton()
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12">
            <div class="card">
                <div class="card-status bg-blue br-te-7 br-ts-7"></div>
                <div class="card-body">
                    <div class="table-responsive" id="divSearchResult"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>

@section ScriptCustomized {
    <script>
        //load default and set event
        $(document).ready(function () {
            Portal.SearchInitial("@CurrentUrl");
            Portal.ShowMessage(window.location.href);
        });
    </script>
}
