@using HoiNongDan.Models
@using HoiNongDan.Resources

@model NgachLuongVM
@{
    ViewBag.Title = LanguageResource.Create + LanguageResource.NgachLuong;
    string CurrentController = ConstController.NgachLuong;
    string CurrentArea = ConstArea.MasterData;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
<!-- CONTAINER -->
<div class="main-container container-fluid">

    <!-- PAGE-HEADER -->
    <div class="page-header page-header-fix d-flex my-1">
        <div class="fs-16">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a class="fs-18 fw-600" asp-area="@ConstArea.MasterData" asp-controller="@ConstController.NgachLuong" asp-action="Index">@LanguageResource.NgachLuong</a>
                </li>
                <li class="breadcrumb-item fs-18 active" aria-current="page">@LanguageResource.Edit</li>
            </ol>
        </div>
        <div>
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
            @HtmlExtensions.BackButton(CurrentArea,CurrentController)
        </div>
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <div class="row ">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary br-te-3 br-ts-3">
                    <h3 class="card-title text-white">Thông tin chi tiết</h3>
                    <div class="card-options ">
                        <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Edit" id="frmEdit">
                        @*<input asp-for="MaNgachLuong" hidden />*@
                        <div class="row">
                            <div class="col-md-2">
                                <label asp-for="MaNgachLuong"></label>
                                <input asp-for="MaNgachLuong" class="form-control" readonly/>
                                <span asp-validation-for="MaNgachLuong" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="TenNgachLuong"></label>
                                <input asp-for="TenNgachLuong" class="form-control" />
                                <span asp-validation-for="TenNgachLuong" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <label asp-for="MaLoai"></label>
                                <input asp-for="MaLoai" class="form-control" />
                                <span asp-validation-for="MaLoai" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <label asp-for="NamTangLuong"></label>
                                <input asp-for="NamTangLuong" class="form-control" />
                                <span asp-validation-for="NamTangLuong" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="OrderIndex"></label>
                                <input asp-for="OrderIndex" class="form-control" />
                                <span asp-validation-for="OrderIndex" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-2">

                            <div class="col-md-12">
                                <label asp-for="Description"></label>
                                <textarea rows="3" asp-for="Description" class="form-control"> </textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
    @section ScriptCustomized{
    <script type="text/javascript">
        $(document).ready(function () {
            HoiNongDan.EditInitial("@CurrentUrl");
        });
    </script>
}