@using HoiNongDan.Models
@using HoiNongDan.Constant
@using HoiNongDan.Resources
@using Microsoft.AspNetCore.Html
@model IEnumerable<PhuongXaVM>
@{
    string CurrentController = ConstController.PhuongXa;
    string CurrentArea = ConstArea.MasterData;
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;

}
<style>
    ::-webkit-scrollbar {
        width: 10px;
    }
</style>
<table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
    <thead class="table-primary">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.MaTinhThanhPho)</th>
            <th>@Html.DisplayNameFor(p => p.MaQuanHuyen)</th>
            <th>@Html.DisplayNameFor(p => p.TenPhuongXa)</th>
            <th>@Html.DisplayNameFor(p => p.OrderIndex)</th>
            <th>@Html.DisplayNameFor(p => p.Description)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td>@Html.DisplayFor(p => item.MaTinhThanhPho)</td>
                <td>@Html.DisplayFor(p => item.MaQuanHuyen)</td>
                <td>@Html.DisplayFor(p => item.TenPhuongXa)</td>
                <td>@Html.DisplayFor(p => item.OrderIndex)</td>
                <td>@Html.DisplayFor(p => item.Description)</td>
                <td class="text-center">
                    @HtmlExtensions.UpsertButton(CurrentArea, CurrentController, item.MaPhuongXa,listRoles:listRoles)
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.TenPhuongXa, item.MaPhuongXa,listRoles: listRoles)
                </td>
            </tr>
        }
    </tbody>
</table>