@model KhenThuongVM
<div class="row">
    <input asp-for="IDQuaTrinhKhenThuong" hidden />
    @Html.AntiForgeryToken()
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="MaDanhHieuKhenThuong"></label><span class="text-red">*</span>
            <select asp-for="MaDanhHieuKhenThuong" asp-items="@ViewBag.MaDanhHieuKhenThuong" class="form-control select2-show-search form-select">
                <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
            </select>
            <span asp-validation-for="MaDanhHieuKhenThuong" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="MaHinhThucKhenThuong"></label><span class="text-red">*</span>
            <select asp-for="MaHinhThucKhenThuong" asp-items="@ViewBag.MaHinhThucKhenThuong" class="form-control select2-show-search form-select">
                <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
            </select>
            <span asp-validation-for="MaHinhThucKhenThuong" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="SoQuyetDinh"></label><span class="text-red">*</span>
            <input type="text" asp-for="SoQuyetDinh" class="form-control">
            <span asp-validation-for="SoQuyetDinh" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="NgayQuyetDinh"></label><span class="text-red">*</span>
            <input asp-for="NgayQuyetDinh" class="form-control">
            <span asp-validation-for="NgayQuyetDinh" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="NguoiKy"></label>
            <input type="text" asp-for="NguoiKy" class="form-control">
            <span asp-validation-for="NguoiKy" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <label asp-for="LyDo"></label>
        <input type="text" asp-for="NguoiKy" class="form-control">
        <span asp-validation-for="LyDo" class="text-danger"></span>
    </div>
    <div class="col-md-12">
        <label asp-for="GhiChu"></label>
        <textarea asp-for="GhiChu" rows="3" class="form-control"></textarea>
        <span asp-validation-for="GhiChu" class="text-danger"></span>
    </div>
</div>