@using HoiNongDan.Constant
@using HoiNongDan.Resources
@using Microsoft.AspNetCore.Html
@model IEnumerable<DanhGiaToChucHoiVM>
@{
    string CurrentController = ConstController.DanhGiaToChucHoi;
    string CurrentArea = ConstArea.HoiVien;
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;
}
<table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
    <thead class="table-primary">
        <tr>
            <th class="text-center" style="vertical-align: middle;" rowspan="3">@LanguageResource.NumberIndex</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="3">ID</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="3">
                Đơn vị
            </th>
            <th class="text-center" style="vertical-align: middle;" colspan="6">
                HỘI NÔNG DÂN CƠ SỞ
            </th>
            <th class="text-center" style="vertical-align: middle;" colspan="6">
                CHI HỘI DÂN CƯ
            </th>
            <th class="text-center" style="vertical-align: middle;" colspan="6">
                CHI HỘI NGHỀ NGHIỆP
            </th>
        </tr>
        <tr>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">
                Tổng số cơ sở hội
            </th>
            <th class="text-center" style="vertical-align: middle;" colspan="4">
                Tổng số cơ sở hội được phân loại
            </th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">
                Số cơ sở hội không phân loại
            </th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">
                Tổng số chi hội dân cư
            </th>
            <th class="text-center" style="vertical-align: middle;" colspan="4">
                Tổng số chi cơ sở hội được phân loại
            </th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">
                Tổng số chi cơ sở hội không phân loại
            </th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">
                Tổng số chi hội nghề nghiệp
            </th>
            <th class="text-center" style="vertical-align: middle;" colspan="4">
                Tổng số chi Đoàn được phân loại (X)
            </th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">
                Tổng số chi hội không phân loại
            </th>
        </tr>
        <tr>
            <th class="text-center" style="vertical-align: middle;">
                Hoàn thành xuất sắc nhiệm vụ
            </th>
            <th class="text-center" style="vertical-align: middle;">
                Hoàn thành tốt nhiệm vụ
            </th>
            <th class="text-center" style="vertical-align: middle;">
                Hoàn thành tốt nhiệm vụ
            </th>
            <th class="text-center" style="vertical-align: middle;">
                Không hoàn thành nhiệm vụ
            </th>
            <th class="text-center" style="vertical-align: middle;">
                Hoàn thành xuất sắc nhiệm vụ
            </th>
            <th class="text-center" style="vertical-align: middle;">
                Hoàn thành tốt nhiệm vụ
            </th>
            <th class="text-center" style="vertical-align: middle;">
                Hoàn thành tốt nhiệm vụ
            </th>
            <th class="text-center" style="vertical-align: middle;">
                Không hoàn thành nhiệm vụ
            </th>
            <th class="text-center" style="vertical-align: middle;">
                Hoàn thành xuất sắc nhiệm vụ
            </th>
            <th class="text-center" style="vertical-align: middle;">
                Hoàn thành tốt nhiệm vụ
            </th>
            <th class="text-center" style="vertical-align: middle;">
                Hoàn thành tốt nhiệm vụ
            </th>
            <th class="text-center" style="vertical-align: middle;">
                Không hoàn thành nhiệm vụ
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td>@item.ID</td>
                <td>@item.DonVi</td>
                <td style="vertical-align: middle;">@item.CoSo_Tong</td>
                <td style="vertical-align: middle;">@item.CoSo_HTXSNV</td>
                <td style="vertical-align: middle;">@item.CoSo_HTTNV</td>
                <td style="vertical-align: middle;">@item.CoSo_HTNV</td>
                <td style="vertical-align: middle;">@item.CoSo_KHTNV</td>
                <td style="vertical-align: middle;">@item.CoSo_KPhanLoai</td>
                <td style="vertical-align: middle;">@item.DanCu_Tong</td>
                <td style="vertical-align: middle;">@item.DanCu_HTXSNV</td>
                <td style="vertical-align: middle;">@item.DanCu_HTTNV</td>
                <td style="vertical-align: middle;">@item.DanCu_HTNV</td>
                <td style="vertical-align: middle;">@item.DanCu_KHTNV</td>
                <td style="vertical-align: middle;">@item.DanCu_KPhanLoai</td>
                <td style="vertical-align: middle;">@item.NgheNghiep_Tong</td>
                <td style="vertical-align: middle;">@item.NgheNghiep_HTXSNV</td>
                <td style="vertical-align: middle;">@item.NgheNghiep_HTTNV</td>
                <td style="vertical-align: middle;">@item.NgheNghiep_HTNV</td>
                <td style="vertical-align: middle;">@item.NgheNghiep_KHTNV</td>
                <td style="vertical-align: middle;">@item.NgheNghiep_KPhanLoai</td>
            </tr>
        }
    </tbody>
</table>
