@using HoiNongDan.Constant
@using HoiNongDan.Resources
@using Microsoft.AspNetCore.Html
@model IEnumerable<HVKhenThuongDetailVM>
@{
    string CurrentController = ConstController.HVKhenThuong;
    string CurrentArea = ConstArea.HoiVien;
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;
}
<style>
    ::-webkit-scrollbar {
        width: 10px;
    }
</style>
<table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
    <thead class="table-primary">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.MaCanBo)</th>
            <th>@Html.DisplayNameFor(p => p.HoVaTen)</th>
            <th>@Html.DisplayNameFor(p => p.DiaBanHND)</th>
            <th>@Html.DisplayNameFor(p => p.TenDanhHieuKhenThuong)</th>
            <th>@Html.DisplayNameFor(p => p.Nam)</th>
            <th>@Html.DisplayNameFor(p => p.NoiDung)</th>
            <th>@Html.DisplayNameFor(p => p.GhiChu)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            int css = 0;
            string cssName = "";
        }
        @foreach (var item in Model)
        {
            i++;
            css++;
            if (css > 4)
            {
                css = 1;
            }
            cssName = "tr" + css.ToString();
            <tr class="@cssName">
                <td class="text-center">@i</td>
                <td>@Html.DisplayFor(p => item.MaCanBo)</td>
                <td>@Html.DisplayFor(p => item.HoVaTen)</td>
                <td>@Html.DisplayFor(p => item.DiaBanHND)</td>
                <td>@Html.DisplayFor(p => item.TenDanhHieuKhenThuong)</td>
                <td>@Html.DisplayFor(p => item.Nam)</td>
                <td>@Html.DisplayFor(p => item.NoiDung)</td>
                <td>@Html.DisplayFor(p => item.GhiChu)</td>
                <td class="text-center">
                    @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.IDQuaTrinhKhenThuong!.Value, listRoles: listRoles)
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.TenDanhHieuKhenThuong, item.IDQuaTrinhKhenThuong!.Value, listRoles: listRoles)
                </td>
            </tr>
        }
    </tbody>
</table>
