@model IEnumerable<CanBo1ExcelVM>
@{
    string CurrentController = ConstController.CanBo;
    string CurrentArea = ConstArea.NhanSu;
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;
    int i = 0;
}
<table id="data-list" class="table table-bordered text-nowrap mb-0">
    <thead class="table-primary" style="border:1px dashed">
        <tr>
            <th class="text-center" class="text-center" style="vertical-align: middle;" rowspan="2">@LanguageResource.Actions</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">STT</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Họ và tên</th>
            <th colspan="2" class="text-center" style="vertical-align: middle;">Chức vụ</th>
            <th colspan="2" class="text-center" style="vertical-align: middle;">Ngày, tháng, năm sinh</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Thời gian bổ nhiệm</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Dân tộc</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Tôn giáo</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Quê quán</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Nơi ở hiện nay</th>
            <th colspan="2" class="text-center" style="vertical-align: middle;">Ngày vào Đảng</th>
            <th colspan="2" class="text-center" style="vertical-align: middle;">Trình độ</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Ngoại ngữ</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Tin học</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Thời gian công tác Hội</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Tham gia cấp ủy</th>
            <th rowspan="2" class="text-center" style="vertical-align: middle;">Tham gia HĐND</th>
            <th colspan="4" class="text-center" style="vertical-align: middle;">MỨC LƯƠNG ĐANG HƯỞNG</th>
            <th colspan="7" class="text-center" style="vertical-align: middle;">Đào tạo bồi dưỡng</th>
            <th colspan="2" class="text-center" style="vertical-align: middle;">Kết quả đánh giá</th>
            
        </tr>
        <tr>
            <th>Tên</th>
            <th>Đơn vi</th>
            <th>Nam</th>
            <th>Nữ</th>
            <th>Dự bị</th>
            <th>Chính thức</th>
            <th>Chuyên môn</th>
            <th>LLCT</th>
            <th>
                Mã số ngạch/bậc
            </th>
            <th>
                Hệ số
            </th>
            <th>
                Mốc thời gian nâng bậc lương
            </th>
            <th>
                Phụ cấp vượt khung %
            </th>
            <th>
                NVCT Hội do TW
            </th>
            <th>
                Giảng viên kiêm chức
            </th>
            <th>
                QL cấp phòng
            </th>
            <th>
                KT QP&AN
            </th>
            <th>
                QLNN ngạch chuyên viên
            </th>
            <th>
                QLNN ngạch chuyên viên chính
            </th>
            <th>
                QLNN ngạch chuyên viên CC
            </th>
            <th>
                CBCC
            </th>
            <th>
                Đảng viên
            </th>
            
        </tr>
    </thead>
    <tbody>
        @{
            string dd = "";
        }
        @foreach (var item in Model)
        {
            i++;
            dd = item.NgayNangBacLuong != null ? item.NgayNangBacLuong.Value.ToString("dd/MM/yyyy") : "";
            <tr class="" ondblclick='window.open("/NhanSu/CanBo/Edit/@item.IDCanBo","_blank")'>
                <td class="text-center">
                    @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.IDCanBo!.ToString()!, listRoles: listRoles)
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.HoVaTen, item.IDCanBo!.ToString(), listRoles: listRoles)
                </td>
                <td>@i.ToString()</td>
                <td>@item.HoVaTen</td>
                <td>@item.TenChucVu</td>
                <td>@item.DonVi</td>
                <td>@item.NgaySinh_Nam</td>
                <td>@item.NgaySinh_Nu</td>
                <td>@item.SoQuyetDinhBoNhiem</td>
                <td>@item.TenDanToc</td>
                <td>@item.TenTonGiao</td>
                <td>@item.NoiSinh</td>
                <td>@item.ChoOHienNay</td>
                <td>@item.NgayvaoDangDuBi</td>
                <td>@item.NgayVaoDangChinhThuc</td>
                <td>@item.ChuyenNganh</td>
                <td>@item.TenTrinhDoChinhTri</td>
                <td>@item.TenTrinhDoNgoaiNgu</td>
                <td>@item.TenTrinhDoTinHoc</td>
                <td>@item.NgayThamGiaCongTac</td>
                <td>@item.NgayThamGiaCapUyDang</td>
                <td>@item.NgayThamGiaHDND</td>
                <td>@item.TenNgachLuong</td>
                <td>@item.HeSoLuong</td>
                <td>@dd</td>
                <td>@item.PhuCapVuotKhung</td>
                <td>@item.NVCTTW</td>
                <td>@item.GiangVienKiemChuc</td>
                <td>@item.QLCapPhong</td>
                <td>@item.KTQP</td>
                <td>@item.QLNNCV</td>
                <td>@item.QLNNCVC</td>
                <td>@item.QLNNCVCC</td>
                <td>@item.DanhGiaCBCC</td>
                <td>@item.DanhGiaDangVien</td>
            </tr>
        }
    </tbody>
</table>