@model CanBoSearchVM
@{
    ViewBag.Title = LanguageResource.List + LanguageResource.CanBo.ToLower();
    string CurrentController = ConstController.CanBo;
    string CurrentArea = ConstArea.NhanSu;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
    string listRoles = User!=null? User.FindFirst("Roles").Value :"";

}
<div class="main-container container-fluid">
    <!-- PAGE-HEADER -->
    <div class="page-header my-2">
       
        <div>
            <span class="header-title">DANH SÁCH QUẢN LÝ BAN CHẤP HÀNH HỘI NÔNG DÂN THÀNH PHỐ</span>
            <div class="rectangle">
                <span> </span>
                <span> </span>
                <span> </span>
            </div>
        </div>
       @*  <div class="d-flex px-2">
            @HtmlExtensions.ExportButton(CurrentArea,CurrentController,listRoles:listRoles)
            @HtmlExtensions.ImportButton(CurrentArea,CurrentController,listRoles:listRoles)
            @HtmlExtensions.CreateButton(CurrentArea,CurrentController,action:"Create")
        </div> *@
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="splitter rounded-3">
                <div class="splitter-head">Thông tin tìm kiếm</div>
                <div class="splitter-body">
                    <form method="get" id="frmSearch" asp-action="_Search">
                        <div class="row my-2">
                            <div class="col-md-3">
                                <label asp-for="MaCanBo"></label>
                                <input class="form-control" asp-for="MaCanBo" />
                            </div>
                            <div class="col-md-3">
                                <label asp-for="HoVaTen"></label>
                                <input class="form-control" asp-for="HoVaTen" />
                            </div>
                            <div class="col-3">
                                <label asp-for="MaTinhTrang"></label>
                                @Html.DropDownList("MaTinhTrang", null, LanguageResource.Dropdownlist_Menu, new { @class = "form-control select2-show-search form-select" })
                            </div>
                            <div class="col-md-3">
                                <label asp-for="MaPhanHe"></label>
                                @Html.DropDownList("MaPhanHe", null, LanguageResource.Dropdownlist_Menu, new { @class = "form-control select2-show-search form-select" })
                            </div>
                            <div class="col-md-3">
                                <label asp-for="IdCoSo"></label>
                                @Html.DropDownList("IdCoSo", null, LanguageResource.Dropdownlist_Menu, new { @class = "form-control select2-show-search form-select" })
                            </div>
                            <div class="col-md-3">
                                <label asp-for="IdDepartment"></label>
                                @Html.DropDownList("IdDepartment", null, LanguageResource.Dropdownlist_Menu, new { @class = "form-control select2-show-search form-select" })
                            </div>
                            <div class="col-md-3">
                                <label asp-for="MaChucVu"></label>
                                @Html.DropDownList("MaChucVu", null, LanguageResource.Dropdownlist_Menu, new { @class = "form-control select2-show-search form-select" })
                            </div>
                            <div class="col-md-3">
                                <label asp-for="Actived"></label>
                                @Html.DropDownList("Actived", new List<SelectListItem>(){
                                new SelectListItem(){Text = LanguageResource.Dropdownlist_All, Value = ""},
                                new SelectListItem(){Text = LanguageResource.Actived_True, Value = "true", Selected = true},
                                new SelectListItem(){Text = LanguageResource.Actived_False, Value = "false"}
                                }, new { @class = "form-control" })
                            </div>
                           
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-2">
                                @HtmlExtensions.SearchButton()
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card rounded-3">
                <div class="card-status bg-blue br-te-7 br-ts-7"></div>
                <div class="card-body">
                    <div class="table-responsive" id="divSearchResult"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>

@section ScriptCustomized {
    <script src="~/js/canbo.js"></script>
    <script>
        //load default and set event
        $(document).ready(function () {
            HoiNongDan.SearchInitial("@CurrentUrl", "_CBBanChapHanh");
            HoiNongDan.ShowMessage(window.location.href);
        });
    </script>
}
