@using HoiNongDan.Models
@using HoiNongDan.Resources

@model CanBoVMMT
@{
    ViewBag.Title = LanguageResource.Create + LanguageResource.CanBo;
    string CurrentController = ConstController.CanBo;
    string CurrentArea = ConstArea.NhanSu;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
<!-- CONTAINER -->
<div class="main-container container-fluid">

    <!-- PAGE-HEADER -->
    <div class="page-header d-flex my-1">
        <div class="fs-20">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a class="fs-18 fw-600" asp-area="@ConstArea.NhanSu" asp-controller="@ConstController.CanBo" asp-action="Index">@LanguageResource.CanBo</a>
                </li>
                <li class="breadcrumb-item fs-18 active" aria-current="page">@LanguageResource.Edit</li>
            </ol>
        </div>
        <div class="header-sticky">
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
            @HtmlExtensions.BackButton(CurrentArea,CurrentController)
        </div>
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <form method="post" asp-action="Create" id="frmEdit">
        @Html.Partial("_CanBo",Model)
    </form>
    <!-- /Row -->
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
@section ScriptCustomized{
    <script src="~/js/canbo.js"></script>
    <script type="text/javascript">
       
        $(document).ready(function () {
            HoiNongDan.EditInitial("@CurrentUrl");
        });
    </script>
}