@using HoiNongDan.Models
@using HoiNongDan.Resources

@model QHGiaDinhVM
@{
    ViewBag.Title = LanguageResource.Create + LanguageResource.HVQHGiaDinh;
    string CurrentController = ConstController.HVQHGiaDinh;
    string CurrentArea = ConstArea.HoiVien;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
<style>
    #avtImg {
        vertical-align: middle;
        width: 140px;
        height: 140px;
        border-radius: 10px;
    }

    .border-top {
        border-top: 4px dotted blue;
    }
</style>
<!-- CONTAINER -->
<div class="main-container container-fluid">

    <!-- PAGE-HEADER -->
    <div class="page-header d-flex my-1">
         <div class="fs-16">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a class="fs-18 fw-600" asp-area="@ConstArea.NhanSu" asp-controller="@ConstController.QuanHeGiaDinh" asp-action="Index">@LanguageResource.QuanHeGiaDinh</a>
                </li>
                <li class="breadcrumb-item fs-18 active" aria-current="page">@LanguageResource.Edit</li>
            </ol>
        </div>
        <div>
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
            @HtmlExtensions.BackButton(CurrentArea,CurrentController)
        </div>
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary br-te-3 br-ts-3">
                    <h3 class="card-title text-white">Thông tin chi tiết</h3>
                    <div class="card-options ">
                        <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Edit" id="frmEdit">
                        <input asp-for="IDQuanheGiaDinh" hidden/>
                        @Html.AntiForgeryToken()
                        <div class="row" id="part-hoivien">
                            @Html.Partial("~/Areas/HoiVien/Views/HVInfo/_HVThongTin.cshtml", Model.HoiVien)
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="IDLoaiQuanHeGiaDinh"></label><span class="text-red">*</span>
                                    <select asp-for="IDLoaiQuanHeGiaDinh" asp-items="@ViewBag.IDLoaiQuanHeGiaDinh" class="form-control select2-show-search form-select">
                                        <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
                                    </select>
                                    <span asp-validation-for="IDLoaiQuanHeGiaDinh" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="HoTen"></label><span class="text-red">*</span>
                                    <input type="text" asp-for="HoTen" class="form-control">
                                    <span asp-validation-for="HoTen" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="NgaySinh"></label><span class="text-red">*</span>
                                    <input type="text" asp-for="NgaySinh" class="form-control">
                                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="NgheNghiep"></label><span class="text-red">*</span>
                                    <input type="text" asp-for="NgheNghiep" class="form-control">
                                    <span asp-validation-for="NgheNghiep" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="NoiLamVien"></label>
                                <textarea asp-for="NoiLamVien" rows="3" class="form-control"></textarea>
                                <span asp-validation-for="NoiLamVien" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="DiaChi"></label>
                                <textarea asp-for="DiaChi" rows="3" class="form-control"></textarea>
                                <span asp-validation-for="DiaChi" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="GhiChu"></label>
                                <textarea asp-for="GhiChu" rows="3" class="form-control"></textarea>
                                <span asp-validation-for="GhiChu" class="text-danger"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
    @section ScriptCustomized{
    <script type="text/javascript">
        $(document).ready(function () {
            HoiNongDan.EditInitial("@CurrentUrl");
        });
    </script>
}