@using HoiNongDan.Constant
@using HoiNongDan.Resources
@using Microsoft.AspNetCore.Html
@model IEnumerable<BCTLHNamNew>
@{
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;
}
<table id="data-list" class="table table-bordered text-nowrap">
    <thead class="table-primary">
        <tr>
            <th class="text-center" style="vertical-align: middle;" rowspan="3">@LanguageResource.NumberIndex</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="3">Tên đơn vị</th>
            <th class="text-center" style="vertical-align: middle;" colspan="11" >HỘI VIÊN</th>
            <th class="text-center" style="vertical-align: middle;" colspan="4">CHI HỘI</th>
            <th class="text-center" style="vertical-align: middle;" colspan="4">TỔ HỘI</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2" rowspan="2">TS đảng viên <br /> tham gia sinh hoạt Hội</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2" rowspan="2">Hội viên dân tộc,<br /> tôn giáo</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2">GTHV ưu tú</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2"> Nòng cốt</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2">Quỹ Hội </th>
            <th class="text-center" style="vertical-align: middle;" colspan="2">Thẻ hội viên </th>
            <th class="text-center" style="vertical-align: middle;" rowspan="3">Đơn vị</th>
            <th class="text-center" style="vertical-align: middle;" colspan="23">Đánh giá <br /> cuối năm</th>
        </tr>
    
        <tr>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Tổng số</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Nữ</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Hội viên <br /> Địa bàn dân cư</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2">Ngành nghề</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2">HV danh dự</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2">Giảm HV</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2"> Phát triển </th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2"> Tổng số </th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Dân cư</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2">Ngành nghề</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2"> Tổng số </th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Dân cư</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2">Ngành nghề</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Giới thiệu</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Kết nạp Đảng</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Phong trào<br /> (=25% tổng số HV)</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Trong đó hội viên<br /> tập hợp nhanh</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Hội cơ sở (đồng)   </th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Chi Hội (50.000đ/HV)</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Được cấp<br /> trong năm</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Số  thẻ đổi<br /> và cấp lại</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Tổng số <br /> cơ sở Hội</th>
            <th class="text-center" style="vertical-align: middle;" colspan="4">Cơ sở Hội </th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Tổng Số <br /> Chi hội </th>
            <th class="text-center" style="vertical-align: middle;" colspan="5">Chi Hội </th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Tổng số <br /> Tổ hội </th>
            <th class="text-center" style="vertical-align: middle;" colspan="5">Tổ Hội </th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Tổng số <br /> hội viên</th>
            <th class="text-center" style="vertical-align: middle;" colspan="5">Hội viên </th>
        </tr>
        <tr>
            <th class="text-center" style="vertical-align: middle;">phát triển<br /> trong kỳ</th>
            <th class="text-center" style="vertical-align: middle;">Hội viên ngành nghề<br /> hiện nay</th>
            <th class="text-center" style="vertical-align: middle;">HVDD phát triển<br /> trong kỳ</th>
            <th class="text-center" style="vertical-align: middle;">HV danh dự<br /> hiện tại</th>
            <th class="text-center" style="vertical-align: middle;">Tổng số</th>
            <th class="text-center" style="vertical-align: middle;">Nữ</th>
            <th class="text-center" style="vertical-align: middle;">T. số</th>
            <th class="text-center" style="vertical-align: middle;">Nữ</th>
            <th class="text-center" style="vertical-align: middle;">phát triển<br /> trong kỳ</th>
            <th class="text-center" style="vertical-align: middle;">Số chi hội <br /> nghề nghiệp hiện nay</th>
            <th class="text-center" style="vertical-align: middle;">phát triển <br /> trong kỳ</th>
            <th class="text-center" style="vertical-align: middle;">Số tổ hội <br /> nghề nghiệp hiện nay</th>
            <th class="text-center" style="vertical-align: middle;" >Tổng số</th>
            <th class="text-center" style="vertical-align: middle;">Nữ</th>
            <th class="text-center" style="vertical-align: middle;">Dân tộc<br /> thiểu số</th>
            <th class="text-center" style="vertical-align: middle;">Tôn giáo</th>
            <th class="text-center" style="vertical-align: middle;">HTSXNV</th>
            <th class="text-center" style="vertical-align: middle;">HTTNV</th>
            <th class="text-center" style="vertical-align: middle;">HTNV</th>
            <th class="text-center" style="vertical-align: middle;">KHTNV</th>
            <th class="text-center" style="vertical-align: middle;">HTSXNV</th>
            <th class="text-center" style="vertical-align: middle;">HTTNV</th>
            <th class="text-center" style="vertical-align: middle;">HTNV</th>
            <th class="text-center" style="vertical-align: middle;">KHTNV</th>
            <th class="text-center" style="vertical-align: middle;">Không đánh giá<br /> xếp loại</th>
            <th class="text-center" style="vertical-align: middle;">HTSXNV</th>
            <th class="text-center" style="vertical-align: middle;">HTTNV</th>
            <th class="text-center" style="vertical-align: middle;">HTNV</th>
            <th class="text-center" style="vertical-align: middle;">KHTNV</th>
            <th class="text-center" style="vertical-align: middle;">Không đánh giá <br />xếp loại</th>
            <th class="text-center" style="vertical-align: middle;">XS</th>
            <th class="text-center" style="vertical-align: middle;">Tốt</th>
            <th class="text-center" style="vertical-align: middle;">Trung bình</th>
            <th class="text-center" style="vertical-align: middle;">kém</th>
            <th class="text-center" style="vertical-align: middle;">Không đánh giá<br /> xếp loại</th>
        </tr>
        
    </thead>
    <tbody>
        @{
            int stt = 0;
            string css = "";

        }
        
        @foreach (var item in Model)
        {
            css = "";
            stt ++;
            @if (item.TenDiaBanHoatDong.ToLower().Contains("tổng"))
            {
                css = "font-size:14px;font-weight:bold";
            }
            
            <tr style="@css">
                <td class="text-center">@stt</td>
                <td> @item.TenDiaBanHoatDong</td>
                <td class='text-center'>@item.Cot1.ToString("N0")</td>
                <td class='text-center'>@item.Cot2.ToString("N0")</td>
                <td class='text-center'>@item.Cot3.ToString("N0")</td>
                <td class='text-center'>@item.Cot4.ToString("N0")</td>
                <td class='text-center'>@item.Cot5.ToString("N0")</td>
                <td class='text-center'>@item.Cot6.ToString("N0")</td>
                <td class='text-center'>@item.Cot7.ToString("N0")</td>
                <td class='text-center'>@item.Cot8.ToString("N0")</td>
                <td class='text-center'>@item.Cot9.ToString("N0")</td>
                <td class='text-center'>@item.Cot10.ToString("N0")</td>
                <td class='text-center'>@item.Cot11.ToString("N0")</td>
                <td class='text-center'>@item.Cot12.ToString("N0")</td>
                <td class='text-center'>@item.Cot13.ToString("N0")</td>
                <td class='text-center'>@item.Cot14.ToString("N0")</td>
                <td class='text-center'>@item.Cot15.ToString("N0")</td>
                <td class='text-center'>@item.Cot16.ToString("N0")</td>
                <td class='text-center'>@item.Cot17.ToString("N0")</td>
                <td class='text-center'>@item.Cot18.ToString("N0")</td>
                <td class='text-center'>@item.Cot19.ToString("N0")</td>
                <td class='text-center'>@item.Cot20.ToString("N0")</td>
                <td class='text-center'>@item.Cot21.ToString("N0")</td>
                <td class='text-center'>@item.Cot22.ToString("N0")</td>
                <td class='text-center'>@item.Cot23.ToString("N0")</td>
                <td class='text-center'>@item.Cot24.ToString("N0")</td>
                <td class='text-center'>@item.Cot25.ToString("N0")</td>
                <td class='text-center'>@item.Cot26.ToString("N0")</td>
                <td class='text-center'>@item.Cot27.ToString("N0")</td>
                <td class='text-center'>@item.Cot28.ToString("N0")</td>
                <td class='text-center'>@item.Cot29.ToString("N0")</td>
                <td class='text-center'>@item.Cot30.ToString("N0")</td>
                <td class='text-center'>@item.Cot31.ToString("N0")</td>
                @if (!item.TenDiaBanHoatDong.ToLower().Contains("tổng"))
                {
                    <td>@item.TenDiaBanHoatDong</td>
                }
                else
                {
                    <td style="font-size:14px;font-weight:bold">@item.TenDiaBanHoatDong</td>
                }

                <td class='text-center'>@item.Cot32.ToString("N0")</td>
                <td class='text-center'>@item.Cot33.ToString("N0")</td>
                <td class='text-center'>@item.Cot34.ToString("N0")</td>
                <td class='text-center'>@item.Cot35.ToString("N0")</td>
                <td class='text-center'>@item.Cot36.ToString("N0")</td>
                <td class='text-center'>@item.Cot37.ToString("N0")</td>
                <td class='text-center'>@item.Cot38.ToString("N0")</td>
                <td class='text-center'>@item.Cot39.ToString("N0")</td>
                <td class='text-center'>@item.Cot40.ToString("N0")</td>
                <td class='text-center'>@item.Cot41.ToString("N0")</td>
                <td class='text-center'>@item.Cot42.ToString("N0")</td>
                <td class='text-center'>@item.Cot43.ToString("N0")</td>
                <td class='text-center'>@item.Cot44.ToString("N0")</td>
                <td class='text-center'>@item.Cot45.ToString("N0")</td>
                <td class='text-center'>@item.Cot46.ToString("N0")</td>
                <td class='text-center'>@item.Cot47.ToString("N0")</td>
                <td class='text-center'>@item.Cot48.ToString("N0")</td>
                <td class='text-center'>@item.Cot49.ToString("N0")</td>
                <td class='text-center'>@item.Cot50.ToString("N0")</td>
                <td class='text-center'>@item.Cot51.ToString("N0")</td>
                <td class='text-center'>@item.Cot52.ToString("N0")</td>
                <td class='text-center'>@item.Cot53.ToString("N0")</td>
                <td class='text-center'>@item.Cot54.ToString("N0")</td>


            </tr>
        }
    </tbody>
</table>
