@using HoiNongDan.Constant
@using HoiNongDan.Resources
@using Microsoft.AspNetCore.Html
@model IEnumerable<BCTLHNew>
@{
    string CurrentController = ConstController.BCTLHNew;
    string CurrentArea = ConstArea.HoiVien;
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;
}
<table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
    <thead class="table-primary">
        <tr>
            <th class="text-center" style="vertical-align: middle;" rowspan="4">@LanguageResource.NumberIndex</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="4">Tên đơn vị</th>
            <th class="text-center" style="vertical-align: middle;" colspan="18">HỘI VIÊN</th>
            <th class="text-center" style="vertical-align: middle;" colspan="7">CHI HỘI</th>
            <th class="text-center" style="vertical-align: middle;" colspan="7">TỔ HỘI</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2" rowspan="2">Hội viên dân tộc, tôn giáo</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2">Thẻ hội viên</th>
        </tr>
        <tr>
            <th class="text-center" style="vertical-align: middle;" rowspan="3">Tổng số</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="3">Nữ</th>
            <th class="text-center" style="vertical-align: middle;" colspan="5">Địa bàn dân cư</th>
            <th class="text-center" style="vertical-align: middle;" colspan="5">Ngành nghề</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2">HV danh dự</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2">Giảm HV</th>
            <th class="text-center" style="vertical-align: middle;" colspan="2">Phát triển</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="3">Tổng số</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="3">Dân cư</th>
            <th class="text-center" style="vertical-align: middle;" colspan="5">Ngành nghề</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="3">Tổng số</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="3">Dân cư</th>
            <th class="text-center" style="vertical-align: middle;" colspan="5">Ngành nghề</th>

            <th class="text-center" style="vertical-align: middle;" rowspan="3">Cấp mới</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="3">Số thẻ đổi và cấp lại</th>
        </tr>
        <tr>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Phát triển trong kỳ</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Giảm trong kỳ</th>
            <th class="text-center" style="vertical-align: middle;" colspan="3">Lũy kế</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Phát triển trong kỳ</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Giảm trong kỳ</th>
            <th class="text-center" style="vertical-align: middle;" colspan="3">Lũy kế</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Trong năm</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Lũy kế</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Tổng số</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Nữ</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Tổng số</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Nữ</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Phát triển trong kỳ</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Giảm trong kỳ</th>
            <th class="text-center" style="vertical-align: middle;" colspan="3">Lũy kế</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Phát triển trong kỳ</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Giảm trong kỳ</th>
            <th class="text-center" style="vertical-align: middle;" colspan="3">Lũy kế</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Dân tộc thiểu số</th>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">Tôn giáo</th>
        </tr>
        <tr>
            <th class="text-center" style="vertical-align: middle;">Lũy kế tăng</th>
            <th class="text-center" style="vertical-align: middle;">Lũy kế giảm</th>
            <th class="text-center" style="vertical-align: middle;">Lũy kế trong kỳ</th>
            <th class="text-center" style="vertical-align: middle;">Lũy kế tăng</th>
            <th class="text-center" style="vertical-align: middle;">Lũy kế giảm</th>
            <th class="text-center" style="vertical-align: middle;">Lũy kế trong kỳ</th>
            <th class="text-center" style="vertical-align: middle;">Lũy kế tăng</th>
            <th class="text-center" style="vertical-align: middle;">Lũy kế giảm</th>
            <th class="text-center" style="vertical-align: middle;">Lũy kế trong kỳ</th>
            <th class="text-center" style="vertical-align: middle;">Lũy kế tăng</th>
            <th class="text-center" style="vertical-align: middle;">Lũy kế giảm</th>
            <th class="text-center" style="vertical-align: middle;">Lũy kế trong kỳ</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.Cot1</td>
                <td>@item.Cot2</td>
                <td class="text-center">@item.Cot3</td>
                <td class="text-center">@item.Cot4</td>
                <td class="text-center">@item.Cot5</td>
                <td class="text-center">@item.Cot6</td>
                <td class="text-center">@item.Cot7</td>
                <td class="text-center">@item.Cot8</td>
                <td class="text-center">@item.Cot9</td>
                <td class="text-center">@item.Cot10</td>
                <td class="text-center">@item.Cot11</td>
                <td class="text-center">@item.Cot12</td>
                <td class="text-center">@item.Cot13</td>
                <td class="text-center">@item.Cot14</td>
                <td class="text-center">@item.Cot15</td>
                <td class="text-center">@item.Cot16</td>
                <td class="text-center">@item.Cot17</td>
                <td class="text-center">@item.Cot18</td>
                <td class="text-center">@item.Cot19</td>
                <td class="text-center">@item.Cot20</td>
                <td class="text-center">@item.Cot21</td>
                <td class="text-center">@item.Cot22</td>
                <td class="text-center">@item.Cot23</td>
                <td class="text-center">@item.Cot24</td>
                <td class="text-center">@item.Cot25</td>
                <td class="text-center">@item.Cot26</td>
                <td class="text-center">@item.Cot27</td>
                <td class="text-center">@item.Cot28</td>
                <td class="text-center">@item.Cot29</td>
                <td class="text-center">@item.Cot30</td>
                <td class="text-center">@item.Cot31</td>
                <td class="text-center">@item.Cot32</td>
                <td class="text-center">@item.Cot33</td>
                <td class="text-center">@item.Cot34</td>
                <td class="text-center">@item.Cot35</td>
                <td class="text-center">@item.Cot36</td>
                <td class="text-center">@item.Cot37</td>
                <td class="text-center">@item.Cot38</td>
            </tr>
        }
    </tbody>
</table>
