@{
    ViewBag.Title = LanguageResource.List + LanguageResource.BCTLHNamNew.ToLower();
    string CurrentController = ConstController.BCTLHNamNew;
    string CurrentArea = ConstArea.HoiVien;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
    string listRoles = User != null ? User.FindFirst("Roles")!.Value : "";
}
<!-- CONTAINER -->
<div class="main-container container-fluid">

    <!-- PAGE-HEADER -->
    <div class="page-header my-2">
        <div>
            <span class="header-title">@LanguageResource.List @LanguageResource.BCTLHNamNew.ToLower()</span>
            <div class="rectangle">
                <span> </span>
                <span> </span>
                <span> </span>
            </div>
        </div>
        <div class="d-flex px-2">
            @HtmlExtensions.ExportButton1(CurrentArea, CurrentController, listRoles: listRoles)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="splitter rounded-3">
                <div class="splitter-head">Tìm kiếm nâng cao</div>
                <div class="splitter-body">
                    <form method="get" id="frmSearch" asp-action="_Search">
                        <div class="row my-2">
                            <div class="col-md-3">
                                <label>Quận/Huyện</label>
                                @Html.DropDownList("MaQuanHuyen", null, LanguageResource.Dropdownlist_All, new { @class = "form-control select2-show-search form-select" })
                            </div>
                            <div class="col-md-3">
                                <label>Tên hội nông dân</label>
                                @Html.DropDownList("MaDiaBanHoiVien", null, LanguageResource.Dropdownlist_All, new { @class = "form-control select2-show-search form-select" })
                            </div>
                            <div class="col-md-2">
                                <label>Năm</label>
                                <input class="form-control" type="number" name="Nam" id="Nam" value="@DateTime.Now.Year"/>
                            </div>
                            <div class="col-2 d-flex align-items-end">
                                @HtmlExtensions.SearchButton()
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <div class="row ">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" id="divSearchResult">
                        <table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
                            <thead class="table-primary">
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="3">@LanguageResource.NumberIndex</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="3">Tên đơn vị</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="3">Tổng số ấp, khu phố</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="3">Tổng số ấp, khu phố có tổ chức Hội</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="3">Tổng số</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="11">HỘI VIÊN</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="4">CHI HỘI</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="4">TỔ HỘI</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="2" rowspan="2">TS đảng viên tham gia sinh hoạt Hội</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="2" rowspan="2">Hội viên dân tộc, tôn giáo</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="2">GTHV ưu tú</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="2"> Nòng cốt</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="2">Quỹ Hội </th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="2">Thẻ hội viên </th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="3">Đơn vị</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="23">Đánh giá cuối năm</th>
                                </tr>

                                <tr>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Hộ nông nghiệp</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Hộ nông nghiệp có hội viên</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Lao động nông nghiệp</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Tổng số</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Nữ</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Hội viên Địa bàn dân cư</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="2">Ngành nghề</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="2">HV danh dự</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="2">Giảm HV</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="2"> Phát triển </th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2"> Tổng số </th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Dân cư</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="2">Ngành nghề</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2"> Tổng số </th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Dân cư</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="2">Ngành nghề</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Giới thiệu</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Kết nạp Đảng</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Phong trào (=25% tổng số HV)</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Trong đó hội viên tập hợp nhanh</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Hội cơ sở (đồng)   </th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Chi Hội (50.000đ/HV)</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Được cấp trong năm</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Số  thẻ đổi và cấp lại</th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Tổng số cơ sở Hội</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="4">Cơ sở Hội </th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Tổng Số Chi hội </th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="5">Chi Hội </th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Tổng số Tổ hội </th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="5">Tổ Hội </th>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">Tổng số hội viên</th>
                                    <th class="text-center" style="vertical-align: middle;" colspan="5">Hội viên </th>
                                </tr>
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;">phát triển trong kỳ</th>
                                    <th class="text-center" style="vertical-align: middle;">Hội viên ngành nghề hiện nay</th>
                                    <th class="text-center" style="vertical-align: middle;">HVDD phát triển trong kỳ</th>
                                    <th class="text-center" style="vertical-align: middle;">HV danh dự hiện tại</th>
                                    <th class="text-center" style="vertical-align: middle;">Tổng số</th>
                                    <th class="text-center" style="vertical-align: middle;">Nữ</th>
                                    <th class="text-center" style="vertical-align: middle;">T. số</th>
                                    <th class="text-center" style="vertical-align: middle;">Nữ</th>
                                    <th class="text-center" style="vertical-align: middle;">phát triển trong kỳ</th>
                                    <th class="text-center" style="vertical-align: middle;">Số chi hội nghề nghiệp hiện nay</th>
                                    <th class="text-center" style="vertical-align: middle;">phát triển trong kỳ</th>
                                    <th class="text-center" style="vertical-align: middle;">Số tổ hội nghề nghiệp hiện nay</th>
                                    <th class="text-center" style="vertical-align: middle;">Tổng số</th>
                                    <th class="text-center" style="vertical-align: middle;">Nữ</th>
                                    <th class="text-center" style="vertical-align: middle;">Dân tộc thiểu số</th>
                                    <th class="text-center" style="vertical-align: middle;">Tôn giáo</th>
                                    <th class="text-center" style="vertical-align: middle;">HTSXNV</th>
                                    <th class="text-center" style="vertical-align: middle;">HTTNV</th>
                                    <th class="text-center" style="vertical-align: middle;">HTNV</th>
                                    <th class="text-center" style="vertical-align: middle;">KHTNV</th>
                                    <th class="text-center" style="vertical-align: middle;">HTSXNV</th>
                                    <th class="text-center" style="vertical-align: middle;">HTTNV</th>
                                    <th class="text-center" style="vertical-align: middle;">HTNV</th>
                                    <th class="text-center" style="vertical-align: middle;">KHTNV</th>
                                    <th class="text-center" style="vertical-align: middle;">Không đánh giá xếp loại</th>
                                    <th class="text-center" style="vertical-align: middle;">HTSXNV</th>
                                    <th class="text-center" style="vertical-align: middle;">HTTNV</th>
                                    <th class="text-center" style="vertical-align: middle;">HTNV</th>
                                    <th class="text-center" style="vertical-align: middle;">KHTNV</th>
                                    <th class="text-center" style="vertical-align: middle;">Không đánh giá xếp loại</th>
                                    <th class="text-center" style="vertical-align: middle;">XS</th>
                                    <th class="text-center" style="vertical-align: middle;">Tốt</th>
                                    <th class="text-center" style="vertical-align: middle;">Trung bình</th>
                                    <th class="text-center" style="vertical-align: middle;">kém</th>
                                    <th class="text-center" style="vertical-align: middle;">Không đánh giá xếp loại</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>Đang tải dữ liệu</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>
<!-- CONTAINER CLOSED -->
@section ScriptCustomized {
    <script src="~/js/diaban_hv_quanhuyen.js"></script>
    <script>
        //load default and set event
        $(document).ready(function () {
            HoiNongDan.SearchInitial("@CurrentUrl");
        });
        
    </script>
}