@model IEnumerable<CanBoQuaTrinhLuongDetailVM>
@{
    string CurrentController = ConstController.CBQuaTrinhLuong;
    string CurrentArea = ConstArea.NhanSu;
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;
}
<table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
    <thead class="table-primary">
        <tr>
            <th></th>

            <th>@Html.DisplayNameFor(p => p.MaCanBo)</th>
            <th class="text-center" data-name="HoVaTen">@Html.DisplayNameFor(p => p.HoVaTen)</th>
            <th class="text-center" data-name="TenChucVu">@Html.DisplayNameFor(p => p.MaNgachLuong)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.BacLuong)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.HeSoLuong)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.HeSoChucVu)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.KiemNhiem)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.VuotKhung)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.NgayHuong)</th>
            <th class="text-center">@Html.DisplayNameFor(p => p.NgayNangBac)</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="align-middle">
                    @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.ID, listRoles: listRoles)
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.HoVaTen!, item.ID, listRoles: listRoles)
                </td>
                <td class="text-center align-middle">
                    @item.MaCanBo
                </td>
                <td class="align-middle">@item.HoVaTen</td>
                <td class="align-middle">@item.MaNgachLuong</td>
                <td class="align-middle">@item.BacLuong</td>
                <td class="align-middle">@item.HeSoLuong</td>
                <td class="align-middle">@item.HeSoChucVu</td>
                <td class="align-middle">@item.KiemNhiem</td>
                <td class="align-middle">@item.VuotKhung</td>
                <td class="align-middle">@item.NgayHuong!.Value.ToString("dd/MM/yyyy")</td>
                <td class="align-middle">@item.NgayNangBac!.Value.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
</table>