@model CanBoSearchVM
@{
    ViewBag.Title = LanguageResource.List + LanguageResource.CanBoQuaTrinhLuong.ToLower();
    string CurrentController = ConstController.CBQuaTrinhLuong;
    string CurrentArea = ConstArea.NhanSu;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
    string listRoles = User != null ? User.FindFirst("Roles").Value : "";

}
<div class="main-container container-fluid">
    <!-- PAGE-HEADER -->
    <div class="page-header my-2">
       @*  <input type="checkbox" name="HoVaTen" checked /><span>Họ và tên</span>
        <input type="checkbox" name="TenChucVu" checked /><span>Chức vụ</span> *@
        <div>
            <span class="header-title">@LanguageResource.List @LanguageResource.CanBoQuaTrinhLuong.ToLower()</span>
            <div class="rectangle">
                <span> </span>
                <span> </span>
                <span> </span>
            </div>
        </div>
        <div class="d-flex px-2">
            @HtmlExtensions.ExportButton(CurrentArea,CurrentController,listRoles:listRoles)
            @HtmlExtensions.ImportButton(CurrentArea,CurrentController,listRoles:listRoles)
            @HtmlExtensions.CreateButton(CurrentArea, CurrentController, action: "Create", listRoles: listRoles)
        </div>
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="splitter rounded-3">
                <div class="splitter-head">Tìm kiếm nâng cao</div>
                <div class="splitter-body">
                    <form method="get" id="frmSearch" asp-action="_Search">
                        <div class="row my-2">
                            <div class="col-md-3">
                                <label>Mã cán bộ</label>
                                <input class="form-control" name="MaCanBo" id="MaCanBo" type="text" />
                            </div>

                            <div class="col-2" style="padding-top:27px;">
                                @HtmlExtensions.SearchButton()
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card rounded-3">
                <div class="card-status bg-blue br-te-7 br-ts-7"></div>
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    <div class="table-responsive" id="divSearchResult"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>

@section ScriptCustomized {
    <script src="~/js/canbo.js"></script>
    <script>
        //load default and set event

        $(document).ready(function () {
            HoiNongDan.SearchInitial("@CurrentUrl");
            HoiNongDan.ShowMessage(window.location.href);
            $('input[type=checkbox]').on('change', function () {
                let name = $(this).attr('name')
                var index = $('th[data-name=' + name + ']')
                console.log(index);
            });
        });
    </script>
}
