
@using HoiNongDan.Constant
@using HoiNongDan.Resources
@using Microsoft.AspNetCore.Html
@model IEnumerable<QHGiaDinhDetail>
@{
    string CurrentController = ConstController.QuanHeGiaDinh;
    string CurrentArea = ConstArea.NhanSu;
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;

}
<style>
    ::-webkit-scrollbar {
        width: 10px;
    }
</style>
<table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
    <thead class="table-primary">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.MaCanBo)</th>
            <th>@Html.DisplayNameFor(p => p.HoVaTen)</th>
            <th>@Html.DisplayNameFor(p => p.TenLoaiQuanHe)</th>
            <th>@Html.DisplayNameFor(p => p.HoTen)</th>
            <th>@Html.DisplayNameFor(p => p.NgaySinh)</th>
            <th>@Html.DisplayNameFor(p => p.NgheNghiep)</th>
            <th>@Html.DisplayNameFor(p => p.NoiLamVien)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td>@Html.DisplayFor(p => item.MaCanBo)</td>
                <td>@Html.DisplayFor(p => item.HoVaTen)</td>
                <td>@Html.DisplayFor(p => item.TenLoaiQuanHe)</td>
                <td>@Html.DisplayFor(p => item.HoTen)</td>
                <td>@Html.DisplayFor(p => item.NgaySinh)</td>
                <td>@Html.DisplayFor(p => item.NgheNghiep)</td>
                <td>@Html.DisplayFor(p => item.NoiLamVien)</td>
                <td class="text-center">
                    @HtmlExtensions.EditButton(CurrentArea, CurrentController, item.IDQuanheGiaDinh,listRoles:listRoles)
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.HoTen, item.IDQuanheGiaDinh,listRoles: listRoles)
                </td>
            </tr>
        }
    </tbody>
</table>