@using Microsoft.AspNetCore.Html
@using Portal.Resources
@using Portal.Models
@using Portal.Constant
@model AccountVM
@{
    String action = Model.AccountId == null ? LanguageResource.Create : LanguageResource.Edit;
    ViewBag.Title = action + LanguageResource.Account.ToLower();
    string CurrentController = ConstController.Account;
    string CurrentArea = ConstArea.Permission;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
}
<div class="main-container container-fluid">

    <!-- PAGE-HEADER -->
    <div class="page-header d-flex my-1">
         <div class="fs-16">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">@LanguageResource.Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">@action</li>
            </ol>
        </div>
        <div>
            @HtmlExtensions.SaveButton("btn-save", LanguageResource.Btn_Save)
            @HtmlExtensions.SaveButton("btn-save-continue", LanguageResource.Btn_SaveAndContinue)
            @HtmlExtensions.BackButton(CurrentArea,CurrentController)
        </div>
        
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <div class="row ">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary br-te-3 br-ts-3">
                    <h3 class="card-title text-white">Thông tin chi tiết</h3>
                    <div class="card-options ">
                        <a href="javascript:void(0)" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                    </div>
                </div>
                <div class="card-body">
                   
                    <form method="post" asp-action="Upsert" id="frmUpsert" class="row g-3">
                        <input asp-for="AccountId" hidden />
                        <div class="col-md-3">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="FullName"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        @if (@Model.AccountId != null)
                        {
                            <div class="col-3 d-flex align-items-end">
                                <fieldset>
                                    @Html.RadioButtonFor(p=>p.Actived,true) @LanguageResource.Actived_True
                                    @Html.RadioButtonFor(p=>p.Actived,false) @LanguageResource.Actived_False
                                </fieldset>
                            </div>
                        }
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Nhóm quyền</label>
                                <div class="selectgroup selectgroup-pills">
                                    @for (var i = 0; i < Model.userRoless.Count; i++)
                                    {
                                        <input asp-for="@Model.userRoless[i].RolesId" hidden />
                                        <label class="selectgroup-item">
                                            <input asp-for="@Model.userRoless[i].Selected" type="checkbox" id="@Model.userRoless[i].RolesName" class="selectgroup-input">
                                            <span class="selectgroup-button">@Model.userRoless[i].RolesName</span>
                                        </label>

                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
    @section ScriptCustomized{
    <script type="text/javascript">
        $(document).ready(function () {
            Portal.UpsertInitial("@CurrentUrl");
        });
    </script>
}