@Html.AntiForgeryToken()
@model AccountVM
<input asp-for="AccountId" hidden />
<div class="col-md-2">
    <label asp-for="UserName"></label><span class="text-red">*</span>
    <input asp-for="UserName" class="form-control" />
    <span asp-validation-for="UserName" class="text-danger"></span>
</div>
<div class="col-md-2">
    <label asp-for="Password"></label><span class="text-red">*</span>
    <input asp-for="Password" class="form-control" />
    <small><b style="color:black;text-decoration:underline;padding-left:5px;font-size:15px">Chú ý:</b> Mật khẩu phải 8 ký tự, Có 1 chữ cái thường, 1 chữ cái In hoa,1 số và ký tự đặc biệt.<br>Ví dụ: <b class="fs-15"> Abcd@123</b></small><br>
    <span asp-validation-for="Password" class="text-danger"></span>
</div>
<div class="col-lg-2">
    <div class="form-group">
        <label asp-for="AccountIDParent"></label><span class="text-red">*</span>
        <select asp-for="AccountIDParent" asp-items="@ViewBag.AccountIDParent" class="form-control select2-show-search form-select">
            <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
        </select>
        <span asp-validation-for="AccountIDParent" class="text-danger"></span>
    </div>
</div>
<div class="col-md-2">
    <label asp-for="FullName"></label><span class="text-red">*</span>
    <input asp-for="FullName" class="form-control" />
    <span asp-validation-for="FullName" class="text-danger"></span>
</div>

<div class="col-md-12">
    <div class="form-group">
        <label class="form-label">Nhóm quyền</label>
        <div class="selectgroup selectgroup-pills">
            @for (var i = 0; i < Model.userRoless.Count; i++)
            {
                <input asp-for="@Model.userRoless[i].RolesId" hidden />
                <label class="selectgroup-item">
                    <input asp-for="@Model.userRoless[i].Selected" type="checkbox" id="@Model.userRoless[i].RolesName" class="selectgroup-input">
                    <span class="selectgroup-button">@Model.userRoless[i].RolesName</span>
                </label>

            }
        </div>
    </div>
</div>
<div class="row">
    <!-- col -->
    <div class="col-md-12 mt-4 mt-lg-0">
        <ul id="treeview2">
            <li>
                <input type="checkbox" name="chk-all" /> Địa bàn hội viên
                <ul>
                    @{
                        int index = 0;
                        var dataQuanHuyens = Model.DiaBans.Select(it => new { MaQuanHuyen = it.MaQuanHuyen, TenQuanHuyen = it.TenQuanHuyen }).Distinct();
                        foreach (var qh in dataQuanHuyens)
                        {
                            var diaBans = Model.DiaBans.Where(it => it.MaQuanHuyen == qh.MaQuanHuyen);
                            int tongSo = diaBans.Count();
                            int countDaChon = diaBans.Where(it => it.Selected == true).Count();
                            string sL = countDaChon.ToString() + "/" + tongSo.ToString();
                            <li class="fs-0">
                                <input type="checkbox" name="chk-quanhuyen" id="@qh.MaQuanHuyen" data-sl="@tongSo" />@qh.TenQuanHuyen <span> @sL</span>
                                <ul>
                                    @{
                                        foreach (var db in diaBans)
                                        {
                                            index = Model.DiaBans.IndexOf(db);
                                            <li>
                                                <input asp-for="@Model.DiaBans[index].MaDiaBanHoiVien" hidden />
                                                <input asp-for="@Model.DiaBans[index].TenDiaBanHoiVien" hidden />
                                                <input type="checkbox" asp-for="@Model.DiaBans[index].Selected" data-qh="@qh.MaQuanHuyen" id="@db.MaDiaBanHoiVien" /> @db.TenDiaBanHoiVien
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }

                </ul>
            </li>
        </ul>
    </div>
    <!-- /col -->
</div>