@model DaoTaoBoiDuongVM
<div class="row">
    @Html.AntiForgeryToken()
    <input asp-for="ID" hidden />
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="TenTruong"></label>
            <input asp-for="TenTruong" class="form-control">
            <span asp-validation-for="TenTruong" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="MaHinhThucDaoTao"></label><span class="text-red">*</span>
            <select asp-for="MaHinhThucDaoTao" asp-items="@ViewBag.MaHinhThucDaoTao" class="form-control select2-show-search form-select">
                <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
            </select>
            <span asp-validation-for="MaHinhThucDaoTao" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="MaLoaiBangCap"></label><span class="text-red">*</span>
            <select asp-for="MaLoaiBangCap" asp-items="@ViewBag.MaLoaiBangCap" class="form-control select2-show-search form-select">
                <option disabled selected>@LanguageResource.Dropdownlist_Menu-</option>
            </select>
            <span asp-validation-for="MaLoaiBangCap" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="TuNgay"></label>
            <input asp-for="TuNgay" class="form-control">
            <span asp-validation-for="TuNgay" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="DenNgay"></label>
            <input asp-for="DenNgay" class="form-control">
            <span asp-validation-for="DenNgay" class="text-danger"></span>
        </div>
    </div>
    
    <div class="col-md-6">
        <label asp-for="NoiDungDaoTao"></label> <span class="text-red">*</span>
        <textarea asp-for="NoiDungDaoTao" rows="3" class="form-control"></textarea>
        <span asp-validation-for="NoiDungDaoTao" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="GhiChu"></label>
        <textarea asp-for="GhiChu" rows="3" class="form-control"></textarea>
        <span asp-validation-for="GhiChu" class="text-danger"></span>
    </div>
</div>