@using HoiNongDan.Constant
@using HoiNongDan.Resources
@using Microsoft.AspNetCore.Html
@model IEnumerable<HoiVien_CLB_DN_MH_HTX_THTDetailVM>

@{
    string CurrentController = ConstController.HoiVien_CLB_DN_MH_HTX_THT;
    string CurrentArea = ConstArea.HoiVien;
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;
}
<table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
    <thead class="table-primary">
        <tr>
            <th class="text-center">@LanguageResource.NumberIndex</th>
            <th>@Html.DisplayNameFor(p => p.MaCanBo)</th>
            <th>@Html.DisplayNameFor(p => p.HoVaTen)</th>
            <th>@Html.DisplayNameFor(p => p.SoDienThoai)</th>
            <th>@Html.DisplayNameFor(p => p.ChoOHienNay)</th>
            <th>@Html.DisplayNameFor(p => p.TenDiaBanHoatDong)</th>
            <th>@Html.DisplayNameFor(p => p.TenCauLacBo)</th>
            <th>@Html.DisplayNameFor(p => p.GhiChu)</th>
            <th class="text-center">@LanguageResource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td class="text-center">@i</td>
                <td class="text-center">@item.MaCanBo</td>
                <td>@item.HoVaTen</td>
                <td class="text-center">@item.SoDienThoai</td>
                <td>@item.HoKhauThuongTru</td>
                <td>@item.TenDiaBanHoatDong</td>
                <td>@item.TenCauLacBo</td>
                <td>@item.GhiChu</td>
                <td class="text-center">
                    @HtmlExtensions.DeleteButton(CurrentArea, CurrentController, item.TenCauLacBo!, item.IDCanBo!.Value.ToString()+"_"+item.MaCaulacBo!.Value.ToString(), listRoles: listRoles)
                </td>
            </tr>
        }
    </tbody>
</table>
