@model HoiVienSearchVM
@{
    ViewBag.Title = LanguageResource.List + LanguageResource.HoiVien.ToLower();
    string CurrentController = ConstController.HoiVien;
    string CurrentArea = ConstArea.HoiVien;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
    string listRoles = User != null ? User.FindFirst("Roles").Value : "";

}
<style>
    #dt-hoivien_paginate{
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .dataTables_wrapper{
        position:relative;
    }
    .dataTables_scrollHead{
        position: sticky;
        z-index: 10 !important;
    }
    thead tr{
        position: sticky;
        z-index: 10 !important;
    }
</style>
<div class="main-container container-fluid">
    <!-- PAGE-HEADER -->
    <div class="page-header page-header-fix my-2">

        <div>
            <span class="header-title">@LanguageResource.List @LanguageResource.HoiVien.ToLower()</span>
            <div class="rectangle">
                <span> </span>
                <span> </span>
                <span> </span>
            </div>
        </div>
        <div class="d-flex px-2">
            @HtmlExtensions.ExportButton(CurrentArea,CurrentController,listRoles:listRoles)
            @HtmlExtensions.ImportButton(CurrentArea,CurrentController,listRoles:listRoles)
            @HtmlExtensions.Print(CurrentArea,CurrentController,"In thẻ",listRoles:listRoles)
            @*  @HtmlExtensions.CreateButton(CurrentArea,CurrentController,action:"Create",listRoles:listRoles) *@
        </div>
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="splitter rounded-3">
                <div class="splitter-head">Tìm kiếm nâng cao</div>
                <div class="splitter-body">
                    <form method="get" id="frmSearch" asp-action="_Search">
                        <div class="row my-2">
                            <div class="col-md-2">
                                <label asp-for="SoCCCD"></label>
                                <input class="form-control" asp-for="SoCCCD" />
                                <input style="display:none" name="TenPhuongXa" id="TenPhuongXa" value="@Model.TenPhuongXa"/>
                            </div>
                            <div class="col-md-2">
                                <label asp-for="HoVaTen"></label>
                                <input class="form-control" asp-for="HoVaTen" />
                            </div>
                            @* <div class="col-md-2">
                                <label asp-for="MaChucVu"></label>
                                @Html.DropDownList("MaChucVu", null, LanguageResource.Dropdownlist_Menu, new { @class = "form-control select2-show-search form-select" })
                            </div> *@
                            <div class="col-md-2">
                                <label asp-for="MaQuanHuyen"></label>
                                @Html.DropDownList("MaQuanHuyen", null, LanguageResource.Dropdownlist_Menu, new { @class = "form-control select2-show-search form-select" })
                            </div>
                            <div class="col-md-2">
                                <label asp-for="MaDiaBanHoiVien"></label>
                                @Html.DropDownList("MaDiaBanHoiVien", null, LanguageResource.Dropdownlist_Menu, new { @class = "form-control select2-show-search form-select" })
                            </div>
                            <div class="col-md-3">
                                <label >Tên chi hội/Tổ hội</label>
                                <input class="form-control" asp-for="TenChiHoi" />
                                @* @Html.DropDownList("MaChiHoi", null, LanguageResource.Dropdownlist_Menu, new { @class = "form-control select2-show-search form-select" }) *@
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="form-label">Trạn thái</label>
                                    <div class="row">
                                        <div class="col-3 p-0">
                                            <input type="radio" class="custom-checked" value="" asp-for="RoiHoi" checked>
                                            <span class="">Tất cả</span>
                                        </div>
                                        <div class="col-5 p-0">
                                            <input type="radio" class="custom-checked" value="02" asp-for="RoiHoi">
                                            <span class="">Hoạt động</span>
                                        </div>
                                        <div class="col-4 p-0">
                                            <input type="radio" class="custom-checked" value="01" asp-for="RoiHoi">
                                            <span class="">Rời hội</span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="form-label">Loại hội viên</label>
                                    <div class="row">
                                        <div class="col-3 p-0">
                                            <input type="radio" class="custom-checked" value="" asp-for="Loai" checked>
                                            <span class="">Tất cả</span>
                                        </div>
                                        <div class="col-3 p-0">
                                            <input type="radio" class="custom-checked" value="01" asp-for="Loai">
                                            <span class="">Dân cư</span>
                                        </div>
                                        <div class="col-6 p-0">
                                            <input type="radio" class="custom-checked" value="02" asp-for="Loai">
                                            <span class="">Ngành nghề</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 d-flex align-items-end">
                                <a class="btn btn-primary btn-sm btn-searchhv" id="btn-searchhv" onclick="LoadThongTin()">
                                    <i class="bi bi-search"></i>
                                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span> Tìm kiếm
                                </a>
                            </div>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card rounded-3">
                <div class="card-status bg-blue br-te-7 br-ts-7"></div>
                <div class="card-header">
                    <div class="ui-grid-menu-button">
                        <div role="button" class="ui-grid-icon-container">
                            <i class="fa fa-th"></i>
                        </div>
                        <div class="ui-grid-menu show">
                            <div class="ui-grid-menu-mid">
                                <div class="ui-grid-menu-inner">
                                    <ul role="menu" class="ui-grid-menu-items" data-gridname="gridHoiVien">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    <div class="table-responsive" id="divSearchResult">
                        <table id="dt-hoivien" class="table border text-nowrap text-md-nowrap mb-0 dataTable no-footer table-striped">
                            <thead>
                                
                                <tr>
                                    <th>STT</th>
                                    <th class="text-center" name="MaCanBo">@LanguageResource.MaHoiVien</th>
                                    <th class="text-center" name="HoVaTen">@LanguageResource.FullName</th>
                                    <th class="text-center" name="NgaySinh">@LanguageResource.NgaySinh</th>
                                    <th class="text-center" name="GioiTinh">@LanguageResource.GioiTinh</th>
                                    <th class="text-center" name="SoCCCD">@LanguageResource.SoCCCD</th>
                                    <th class="text-center" name="ChucVu">Chức vụ</th>
                                    <th class="text-center" name="TenDiaBanHoatDong">Địa bàn hội viên</th>
                                    <th class="text-center" name="ChiHoi">@LanguageResource.ChiHoi</th>
                                    <th class="text-center" name="ToHoi">@LanguageResource.ToHoi</th>
                                    <th class="text-center" name="HoKhauThuongTru">@LanguageResource.HoKhauThuongTru</th>
                                    <th class="text-center" name="ChoOHienNay">@LanguageResource.ChoOHienNay</th>
                                    <th class="text-center" name="SoDienThoai">@LanguageResource.SoDienThoai</th>
                                    <th class="text-center" name="DangVien">@LanguageResource.DangVien</th>
                                    <th class="text-center" name="NgayVaoDangChinhThuc">@LanguageResource.NgayVaoDangChinhThuc</th>
                                    <th class="text-center" name="DanToc">@LanguageResource.DanToc</th>
                                    <th class="text-center" name="TonGiao">@LanguageResource.TonGiao</th>
                                    <th class="text-center" name="TrinhDoHocvan">@LanguageResource.TrinhDoHocVan</th>
                                    <th class="text-center" name="MaTrinhDoChuyenMon">@LanguageResource.TrinhDoChuyenMon</th>
                                    <th class="text-center" name="MaTrinhDoChinhTri">@LanguageResource.TrinhDoChinhTri</th>
                                    <th class="text-center" name="NgayVaoHoi">@LanguageResource.NgayVaoHoi</th>
                                    <th class="text-center" name="NgayThamGiaCapUyDang">@LanguageResource.NgayThamGiaCapUyDang</th>
                                    <th class="text-center" name="NgayThamGiaHDND">@LanguageResource.NgayThamGiaHDND</th>
                                    <th class="text-center" name="VaiTro">@LanguageResource.VaiTro</th>
                                    <th class="text-center" name="VaiTroKhac">@LanguageResource.VaiTroKhac</th>
                                    <th class="text-center" name="GiaDinhThuocDien">@LanguageResource.GiaDinhThuocDien</th>
                                    <th class="text-center" name="GiaDinhThuocDienKhac">@LanguageResource.GiaDinhThuocDienKhac</th>
                                    <th class="text-center" name="NgheNghiepHienNay">@LanguageResource.NgheNghiepHienNay</th>
                                    <th class="text-center" name="Loai_DV_SX_ChN">@LanguageResource.Loai_DV_SX_ChN</th>
                                    <th class="text-center" name="SoLuong">@LanguageResource.SoLuong</th>
                                    <th class="text-center" name="DienTich_QuyMo">@LanguageResource.DienTich</th>
                                    <th class="text-center" name="ThamGia_SH_DoanThe_HoiDoanKhac">@LanguageResource.ThamGia_SH_DoanThe_HoiDoanKhac</th>
                                    <th class="text-center" name="ThamGia_CLB_DN_MH_HTX_THT">@LanguageResource.ThamGia_CLB_DN_MH_HTX_THT</th>
                                    <th class="text-center" name="HoiVienNongCot">@LanguageResource.HoiVienNongCot</th>
                                    <th class="text-center" name="HoiVienUuTuNam">@LanguageResource.HoiVienUuTuNam</th>
                                    <th class="text-center" name="HoiVienDanhDu">@LanguageResource.HoiVienDanhDu</th>
                                    <th class="text-center" name="NDSXKDG">@LanguageResource.NDSXKDG</th>
                                    <th class="text-center" name="NDTieuBieu">@LanguageResource.NDTieuBieu</th>
                                    <th class="text-center" name="NDVietnamXS">@LanguageResource.NDVietnamXS</th>
                                    <th class="text-center" name="KNCGCND">@LanguageResource.KNCGCND</th>
                                    <th class="text-center" name="CanBoHoiCoSoGioi">@LanguageResource.CanBoHoiCoSoGioi</th>
                                    <th class="text-center" name="SangTaoNhaNong">@LanguageResource.SangTaoNhaNong</th>
                                    <th class="text-center" name="GuongDiemHinh">@LanguageResource.GuongDiemHinh</th>
                                    <th class="text-center" name="GuongDanVanKheo">@LanguageResource.GuongDanVanKheo</th>
                                    <th class="text-center" name="GuongDiemHinhHocTapLamTheoBac">@LanguageResource.GuongDiemHinhHocTapLamTheoBac</th>
                                    <th class="text-center" name="SanPhamNongNghiepTieuBieu_OCOP">@LanguageResource.SanPhamNongNghiepTieuBieu_OCOP</th>
                                    <th class="text-center" name="HoTrovayVon">@LanguageResource.HoTrovayVon</th>
                                    <th class="text-center" name="HoTroKhac">@LanguageResource.HoTroKhac</th>
                                    <th class="text-center" name="HoTroDaoTaoNghe">@LanguageResource.HoTroDaoTaoNghe</th>
                                    <th class="text-center" name="GhiChu">@LanguageResource.GhiChu</th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Đang tải dữ liệu</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mt-1" style="display:none" id="div_showload">
                        <button class="btn btn-primary" onclick="LoadThem()" data-total="" id="btn-loadthem" style="display:none"></button>
                       @*  <span id="txt-noteload" style="display:none"><= Click vào đây để tải tiếp dữ liệu </span> *@
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <!-- /Row -->
</div>

@section ScriptCustomized {
    <script src="~/js/diaban_hv_quanhuyen.js"></script>
    <script src="~/js/hoivien.js?v'@DateTime.Now.ToString("HH_mm")'"></script>
    <script>
        $(document).ready(function () {
            HoiNongDan.ShowMessage(window.location.href);
        });
    </script>
}
