@model IEnumerable<HoiVienHoiDapDetail>
@{
    var data = @Model.ToList();
    var cauHoi = data.Where(it => it.TraLoi != true).ToList();
}
@foreach (var item in cauHoi)
{
    var traLoi = data.Where(it => it.IdParent == item.ID);
    <div class="media mb-5 overflow-visible d-block d-sm-flex">
        <span class="avatar avatar-md brround bg-danger me-3 mb-2">
            Hỏi
        </span>
        <div class="media-body overflow-visible">
            <div class="border mb-5 p-4 br-5">
                <h5 class="mt-0">@item.Ngay.ToString("dd-MM-yyyy hh:mm")</h5>
                <span><i class="fe fe-thumb-up text-danger"></i></span>
                <p class="font-13 text-muted">
                   @item.NoiDung
                </p>
                <button class="badge btn-danger-light rounded-pill py-2 px-3 btn-delcauhoi" data-id="@item.ID" >
                    <i class="fe fe-trash-2 mx-1"></i>Xóa
                </button>
            </div>
            @if (traLoi != null && traLoi.Count() > 0)
            {
                foreach (var item2 in traLoi)
                {
                    <div class="media mb-5 overflow-visible">
                        <span class="avatar avatar-md brround bg-success me-3 mb-2">
                            Đáp
                        </span>
                        <div class="media-body border p-4 overflow-visible br-5">

                            <h5 class="mt-0;mr-2">@item2.HoVaTen - @item2.Ngay.ToString("dd-MM-yyyy hh:mm")</h5>
                            <span><i class="fe fe-thumb-up text-danger"></i></span>
                            <p class="font-13 text-muted">
                                @item2.NoiDung
                            </p>

                        </div>
                    </div>
                }
            }
        </div>
    </div>
}