@using HoiNongDan.Constant
@using HoiNongDan.Resources
@using Microsoft.AspNetCore.Html
@model IEnumerable<BCBDHoiVien>
@{
    string CurrentController = ConstController.BCBDHoiVien;
    string CurrentArea = ConstArea.HoiVien;
    string listRoles = User.FindFirst("Roles")!.Value;
    listRoles = listRoles == null ? "" : listRoles;
    int stt = 0;
}
<table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
    <thead class="table-primary">
        <tr>
            <th class="text-center" style="vertical-align: middle;" rowspan="2">@LanguageResource.NumberIndex</th>
            <th class="text-center" style="vertical-align: middle;">Đơn vị</th>
            <th class="text-center" style="vertical-align: middle;">Số Hội viên hoạt động</th>
            <th class="text-center" style="vertical-align: middle;">Số Hội viên mới</th>
            <th class="text-center" style="vertical-align: middle;">Số Hội viên giảm</th>
            <th class="text-center" style="vertical-align: middle;">Số Hội viên chờ duyệt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            stt++;
            <tr>
                <td class="text-center">@stt</td>
                <td class="text-center">@item.Ten</td>
                <td class="text-center">@item.SL</td>
                <td class="text-center">@item.ThemMoi</td>
                <td class="text-center">@item.Giam</td>
                <td class="text-center">@item.ChoDuyet</td>
            </tr>
        }
    </tbody>
</table>
