@{
    ViewBag.Title = LanguageResource.List + LanguageResource.BCBDHoiVien.ToLower();
    string CurrentController = ConstController.BCBDHoiVien;
    string CurrentArea = ConstArea.HoiVien;
    string CurrentUrl = HtmlExtensions.GetCurrentUrl(CurrentArea, CurrentController);
    string listRoles = User != null ? User.FindFirst("Roles").Value : "";
    int nam = DateTime.Now.Year;
}
<!-- CONTAINER -->
<div class="main-container container-fluid">

    <!-- PAGE-HEADER -->
    <div class="page-header my-2">
        <div>
            <span class="header-title">@LanguageResource.List @LanguageResource.BCBDHoiVien.ToLower()</span>
            <div class="rectangle">
                <span> </span>
                <span> </span>
                <span> </span>
            </div>
        </div>
        <div class="d-flex px-2">
            @HtmlExtensions.ExportButton1(CurrentArea, CurrentController, listRoles: listRoles)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="splitter rounded-3">
                <div class="splitter-head">Tìm kiếm nâng cao</div>
                <div class="splitter-body">
                    <form method="get" id="frmSearch" asp-action="_Search">
                        <div class="row my-2">
                            <div class="col-md-3">
                                <labe>
                                    Quận/Huyện</label>
                                    @Html.DropDownList("MaQuanHuyen", null, LanguageResource.Dropdownlist_All, new { @class = "form-control select2-show-search form-select" })
                            </div>
                            <div class="col-md-3">
                                <label>Tên hội nông dân</label>
                                @Html.DropDownList("MaDiaBanHoiVien", null, LanguageResource.Dropdownlist_All, new { @class = "form-control select2-show-search form-select" })
                            </div>
                            <div class="col-md-2">
                                <label>Tháng</label>
                                <input type="number" name="Thang" min="1" max="12" value="1" class="form-control" step="1">
                            </div>
                            <div class="col-md-2">
                                <label>Năm</label>
                                <input type="number" name="Nam" min="1990" max="2050"  class="form-control" step="1" value="@nam">
                            </div>
                            <div class="col-2 d-flex align-items-end">
                                @HtmlExtensions.SearchButton()
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE-HEADER END -->
    <!-- ROW-1 OPEN -->
    <!-- Row -->
    <div class="row ">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive" id="divSearchResult">
                        <table id="data-list" class="table border text-nowrap text-md-nowrap table-striped mb-0">
                            <thead class="table-primary">
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;" rowspan="2">@LanguageResource.NumberIndex</th>
                                    <th class="text-center" style="vertical-align: middle;">Đơn vị</th>
                                    <th class="text-center" style="vertical-align: middle;">Số Hội viên hoạt động</th>
                                    <th class="text-center" style="vertical-align: middle;">Số Hội viên mới</th>
                                    <th class="text-center" style="vertical-align: middle;">Số Hội viên giảm</th>
                                    <th class="text-center" style="vertical-align: middle;">Số Hội viên chờ duyệt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Đang tải dữ liệu</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>
<!-- CONTAINER CLOSED -->
@section ScriptCustomized {
    <script src="~/js/diaban_hv_quanhuyen.js"></script>
    <script>
        //load default and set event
        $(document).ready(function () {
            HoiNongDan.SearchInitial("@CurrentUrl");
        });
       
    </script>
}